<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'playbook-logo.svg', :alt=>"MITRE Interoperability Playbook Logo" %>
      <p>
        The MITRE Interoperability Playbook is provided as a resource for the health information community.
        For more information email:<br><a href="mailto:mcode@mitre.org">mcode@mitre.org</a>
      </p>
    </div>
    <div class="col-md-4">
      <h5>Playbook</h5>
      <ul>
        <li><%= link_to("About", "/about/index.html") %></li>
        <li><%= link_to("The MITRE Interoperability Playbook", "/playbook/index.html") %></li>
        <li><%= link_to("Case Studies", "/casestudies/index.html") %></a></li>
        <li><%= link_to("Resources", "/resources/index.html") %></a></li>
      </ul>
    </div>
    <div class="d-none col-md-2">
      <h5>Information</h5>
      <ul>
        <li><%= link_to("Privacy Policy", "/about/index.html") %></a></li>
        <li><%= link_to("Terms and Conditions", "/about/index.html") %></a></li>
        <li><%= link_to("Copyright", "/about/index.html") %></a></li>
        <li><%= link_to("License", "/about/index.html") %></a></li>
      </ul>
    </div>    
    <div class="d-none col-md-2">
      <h5>Organizations</h5>
      <ul>
        <li><%= link_to("MITRE Corporation", "/about/index.html") %>MITRE Corporation</a></li>
        <li><%= link_to("Health Level Seven", "/about/index.html") %>Health Level Seven</a></li>

      </ul>
    </div>    
</div>
</footer>
<%= partial "partials/copyright" %>
