<nav class="sidebar-menu navbar" id="playbook_menu">
<h4>Playbook Menu</h4>
<ul>
  <%= content_tag(:li, link_to("Intro & Tracks", "playbook/index.html")) %>
  <%= content_tag(:li, link_to("Before Starting", "playbook/getting_started.html")) %>
  <%= content_tag(:li, link_to("Design Principles", "playbook/design_principles.html")) %>
  <%= content_tag(:li, link_to("Track 1. Community Building", "playbook/community.html")) %>
  <%= content_tag(:li, link_to("Track 2. Use Cases & Planning", "playbook/use_cases_planning.html")) %>
  <%= content_tag(:li, link_to("Track 3. Standards Development", "playbook/standards.html")) %>
  <%= content_tag(:li, link_to("Track 4. Implementation & Testing", "playbook/implementation.html")) %>
  <%= content_tag(:li, link_to("Track 5. Adoption & Value", "playbook/adoption.html")) %>
</ul>

</ul>
</nav>
