<div class="sidebar-menu">
<h4>Playbook Menu</h4>
<ul>
  <%= content_tag(:li, link_to("Introduction", "playbook/index.html")) %>
  <%= content_tag(:li, link_to("Getting Started", "playbook/getting_started.html")) %>
  <%= content_tag(:li, link_to("Design Principles", "playbook/design_principles.html")) %>
  <%= content_tag(:li, link_to("Building Community", "playbook/community.html")) %>
  <%= content_tag(:li, link_to("Use Cases & Planning", "playbook/use_cases_planning.html")) %>
  <%= content_tag(:li, link_to("Standards Development", "playbook/standards.html")) %>
  <%= content_tag(:li, link_to("Implementation & Testing", "playbook/implementation.html")) %>
  <%= content_tag(:li, link_to("Adoption & Value", "playbook/adoption.html")) %>
</ul>

</ul>
</div>
