<div class="sidebar-menu">
<h4>Playbook Menu</h4>
<ul>
  <%= content_tag(:li, link_to("High-level Summary", "index.html", nav_active('playbook/index')), nav_active('playbook/index')) %>
  <%= content_tag(:li, link_to("Introduction", "introduction.html", nav_active('playbook/introduction')), nav_active('playbook/introduction')) %>
  <% if show_sub('playbook/introduction') %> 
  	<li class="sub"><a href="#motivation">Motivation</a></li>
	  <li class="sub"><a href="#intended_audience">Intended Audience</a></li>
  	<li class="sub"><a href="#organization">Organization</a></li>
  <% end %>

  <%= content_tag(:li, link_to("Getting Started", "getting_started.html", nav_active('playbook/getting_started')), nav_active('playbook/getting_started')) %>
  <%= content_tag(:li, link_to("Design Principles", "design_principles.html", nav_active('playbook/design_principles')), nav_active('playbook/design_principles')) %>
  
  <%= content_tag(:li, link_to("Building Community", "community.html", nav_active('playbook/community')), nav_active('playbook/community')) %>
  <% if show_sub('playbook/community') %> 
  	<li class="sub"><a href="#champions">Champions</a></li>
	  <li class="sub"><a href="#governance">Governance</a></li>
  	<li class="sub"><a href="#growth">Growth</a></li>
	<li class="sub"><a href="#value_prop">Value Propositions</a></li>
  <% end %>

  <%= content_tag(:li, link_to("Use Cases & Planning", "use_cases_planning.html", nav_active('playbook/use_cases_planning')), nav_active('playbook/use_cases_planning')) %>
  <% if show_sub('playbook/use_cases_planning') %> 
  	<li class="sub"><a href="#what_is_use_case">What is a Use Case</a></li>
	  <li class="sub"><a href="#use_case_development_guidelines">Guidelines</a></li>
  	<li class="sub"><a href="#use_case_discovery">Use Case Discovery</a></li>
  	<li class="sub"><a href="#use_case_planning">Use Case Planning</a></li>
  <% end %>
  
  <%= content_tag(:li, link_to("Standards Development", "standards.html", nav_active('playbook/standards')), nav_active('playbook/standards')) %>
  <% if show_sub('playbook/standards') %> 
    <li class="sub"><a href="#clinical_requirements">Clinical Requirements</a></li>
    <li class="sub"><a href="#fhir_ig_development">FHIR IG Development</a></li>
    <li class="sub"><a href="#hl7_standardization">HL7 Standardization</a></li>
  <% end %>
  
  <%= content_tag(:li, link_to("Implementation & Testing", "implementation.html", nav_active('playbook/implementation')), nav_active('playbook/implementation')) %>
  <% if show_sub('playbook/implementation') %> 
    <li class="sub"><a href="#implement_workflows">Implement Workflows</a></li>
    <li class="sub"><a href="#execute_pilots">Execute Pilots</a></li>
    <li class="sub"><a href="#use_feedback">Use Pilot Feedback</a></li>
  <% end %>
  <%= content_tag(:li, link_to("Adoption & Value", "adoption.html", nav_active('playbook/adoption')), nav_active('playbook/adoption')) %>
</ul>

</ul>
</div>
