<nav class="sidebar-menu navbar" id="playbook_menu">
<h4>Playbook Menu</h4>
<ul>
  <%= content_tag(:li, link_to("Introduction", "index.html", nav_active('playbook/index')), nav_active('playbook/index')) %>
  <% if show_sub('playbook/index') %> 
  	<li class="sub"><a href="#motivation">Motivation</a></li>
	  <li class="sub"><a href="#intended_audience">Intended Audience</a></li>
  	<li class="sub"><a href="#organization">Organization</a></li>
  <% end %>

  <%= content_tag(:li, link_to("Getting Started", "getting_started.html", nav_active('playbook/getting_started')), nav_active('playbook/getting_started')) %>
  <%= content_tag(:li, link_to("Design Principles", "design_principles.html", nav_active('playbook/design_principles')), nav_active('playbook/design_principles')) %>
  
  <%= content_tag(:li, link_to("Building Community", "community.html", nav_active('playbook/community')), nav_active('playbook/community')) %>
  <% if show_sub('playbook/community') %> 
  	<li class="sub"><a href="#champions" class="nav-link">Champions</a></li>
	  <li class="sub"><a href="#governance" class="nav-link">Governance</a></li>
  	<li class="sub"><a href="#growth" class="nav-link">Growth</a></li>
	<li class="sub"><a href="#value_prop" class="nav-link">Value Propositions</a></li>
  <% end %>

  <%= content_tag(:li, link_to("Use Cases & Planning", "use_cases_planning.html", nav_active('playbook/use_cases_planning')), nav_active('playbook/use_cases_planning')) %>
  <% if show_sub('playbook/use_cases_planning') %> 
  	<li class="sub"><a href="#what_is_use_case" class="nav-link">What is a Use Case</a></li>
	  <li class="sub"><a href="#use_case_development_guidelines" class="nav-link">Guidelines</a></li>
  	<li class="sub"><a href="#use_case_discovery" class="nav-link">Use Case Discovery</a></li>
  	<li class="sub"><a href="#use_case_planning" class="nav-link">Use Case Planning</a></li>
  <% end %>
  
  <%= content_tag(:li, link_to("Standards Development", "standards.html", nav_active('playbook/standards')), nav_active('playbook/standards')) %>
  <% if show_sub('playbook/standards') %> 
    <li class="sub"><a href="#clinical_requirements">Clinical Requirements</a></li>
    <li class="sub"><a href="#fhir_ig_development">FHIR IG Development</a></li>
    <li class="sub"><a href="#hl7_standardization">HL7 Standardization</a></li>
  <% end %>
  
  <%= content_tag(:li, link_to("Implementation & Testing", "implementation.html", nav_active('playbook/implementation')), nav_active('playbook/implementation')) %>
  <% if show_sub('playbook/implementation') %> 
    <li class="sub"><a href="#implement_workflows">Implement into Systems</a></li>
    <li class="sub"><a href="#execute_pilots">Test & Pilot</a></li>
    <li class="sub"><a href="#use_feedback">Feedback</a></li>
  <% end %>

  <%= content_tag(:li, link_to("Adoption & Value", "adoption.html", nav_active('playbook/adoption')), nav_active('playbook/adoption')) %>
 <% if show_sub('playbook/adoption') %> 
    <li class="sub"><a href="#adoption">Adoption</a></li>
    <li class="sub"><a href="#value">Value</a></li>
  <% end %>
</ul>

</ul>
</nav>
