---
title: Adoption & Value
pagetitle: Adoption & Value
theme: playbook
---

<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Adoption & Value</h2>
      <p class="lead">Adoption in the real world is best driven by understanding at the Planning track what factors will move the market – including user demands, Government mandates, quality standards, and hopefully the promise of improved care and research during testing. It’s critical to Measure such improvements in the real world, to see where changes could make solutions even better (quality, cost, time) and help other participants engage.</p>
      <h3>Leverage community and outcomes to motivate widespread demand by users, integration into systems and processes</h3>
      <p>Health software vendors and related support companies will be motivated to invest in updates that enable new aspects of the Use Case when...</p>
      <ul>
        <li>the pilots demonstrate potential value (increased benefit, decreased cost ...)</li>
        <li>customers (providers, payers, researchers, etc.) demand such updates.</li>
        <li>Government regulations and rules require such updates</li>
        <li>in some cases, Payers or other stakeholders requires such updates</li>
        <li>the vendors see a competitive advantage</li>
        <li>someday, patients and caregivers will demand service levels that require interoperability</li>
    </ul>
    <p>The steps documented leading to this point all should be aligned to maximize the possibility that all of the above are true.</p>
    <h3>Measure improvements to patient care and research across a growing community of stakeholders</h3>
    <p>From the start of adoption of the new standard and of the systems and workflows it powers, it will be important to assess the costs and benefits through the new workflow. Such assessments will help improve the standards, workflows, user interfaces,   etc., and (when positive), help accelerate adoption and value.</p>
    <h3>Adoption in Production</h3>
    <h4>Roles/Skills Needed</h4>
    <ul>
	<li>Use Case Lead, Technical Lead, Community Builder, Program Manager</li>
	<li>Network to identify potential production participants</li>
	<li>Evaluate potential production participants
    <ul>
      <li>What are their capabilities, experience, needs, and motivations</li>
    </ul>
	</li>
	<li>Establish Production Goals</li>
	<li>Address Real World Data (RWD) use requirements</li>
	<li>Track production system development, progress
	  <ul>
    	<li>Provide technical support as needed</li>
    </ul>
  </li>
	<li>Measure production impact</li>
	<li>Evaluate results and determine next steps</li>
</ul>

<h3>Scale with Aligned Federal Initiatives</h3>
<ul>
  <li><%= link_to("White House Cancer Moonshot","https://www.whitehouse.gov/cancermoonshot/") %> supported by MITRE</li>
	<li><%= link_to("OSTP","https://www.whitehouse.gov/ostp/") %> and <%= link_to("ARPA-H","https://arpa-h.gov") %> noted CodeX as an important partner in strengthening the nation’s clinical trial infrastructure</li>
	<li><%= link_to("President’s Cancer Panel","https://prescancerpanel.cancer.gov") %> noted the importance of mCODE in their recommendations for <%= link_to("NCI’s National Cancer Plan","https://nationalcancerplan.cancer.gov")%> </li>
	<li><%= link_to("CMS","https://www.cms.gov") %> using mCODE in their <%= link_to("Enhancing Oncology Model","https://www.cms.gov/priorities/innovation/innovation-models/enhancing-oncology-model")%></li>
	<li><%= link_to("FDA","https://www.fda.gov") %> championing CodeX <%= link_to("REMS Integration Use Case","https://www.fda.gov/drugs/drug-safety-and-availability/risk-evaluation-and-mitigation-strategies-rems") %></li>
	<li><%= link_to("CDC’s","https://www.cdc.gov") %> use of mCODE for <%= link_to("Central Cancer Registry Reporting IG","https://build.fhir.org/ig/HL7/fhir-central-cancer-registry-reporting-ig/index.html") %></li>
	<li><%= link_to("ONC’s","https://www.healthit.gov") %> US Core Data For Interoperability <%= link_to("(USCDI) + Cancer","https://www.healthit.gov/topic/interoperability/uscdi-plus") %>is aligned with mCODE</li>
	<li><%= link_to("ONC","https://www.healthit.gov") %> included select mCODE data elements in their USCDI+ proposed Quality Data Element List</li>
</ul>
<h3>CodeX Real World Traction</h3>
<h4>Industry Implementing mCODE and Extensions</h4>
<ul>
  <li>13 Vendors Implementing</li>
  <li>45% U.S. patients covered by mCODE consistent vendor systems</li>
  <li>80% of North American treatment sites supported by vendors adopting mCODE</li>
</ul>

<h4>International Traction</h4>
<ul><li>10 countries exploring (6) or actively adopting (4) CodeX standards</li></ul>

<h4>Adoption for Routine Care</h4>
<ul>
<li>Oncolinicas, large cancer network in Latin America, adopted mCODE
<ul>
<li>Able to aggregate patient outcomes at previously unprecedented scale that correlate to scientific literature outcomes <%= link_to("https://ascopubs.org/doi/abs/10.1200/JCO.2022.40.16_suppl.e13022","https://ascopubs.org/doi/abs/10.1200/JCO.2022.40.16_suppl.e13022") %></li>
</ul>
<li>Mayo with pilots in routine use mCODE
  <ul>
    <li><%= link_to("https://confluence.hl7.org/display/COD/2023-06-30+CoP+Meeting+Notes","https://confluence.hl7.org/display/COD/2023-06-30+CoP+Meeting+Notes") %>
    </li>
    </ul>
    
<li>Germany: routine exchange of genomics FHIR-based data 
<ul>
<li><%= link_to("https://confluence.hl7.org/display/COD/2023-08-25+CoP+Meeting+Notes","https://confluence.hl7.org/display/COD/2023-08-25+CoP+Meeting+Notes") %>
</li>
</ul>
</li>
</ul>


<h3>CodeX Policy & Regulatory Support</h3> 
<p>NCI, FDA, CDC are CodeX Members</p>

<div class="flex-cards">
<!-- todo: convert to partial -->
<div class="card">
  <h4 class="card-title">CDC</h4>
  <div class="card-body">
    <ul>
      <li>Champion on CardX Hypertension Management Use Case</li>
      <li>Central Cancer Registry Reporting IG: cancer data elements point to mCODE</li>
    </ul>
  </div>
</div>

<div class="card">
  <h4 class="card-title">FDA</h4>
  <div class="card-body">
    <ul>
      <li>Champion on REMS Integration Use Case</li>
    </ul>
  </div>
</div>

<div class="card">
  <h4 class="card-title">ONC</h4>
  <div class="card-body">
    <ul>
	<li>USCDI submissions</li>
	<li>USCDI+: 8 mCODE and extenstions elements in proposed USCDI+ Quality Data Element list
	<ul>
	<li>Builds from CodeX QM and RTTD Use Cases</li>
	</ul>
	</li>
	<li>Upcoming: USCDI+ for Cancer</li>
    </ul>
  </div>
</div>
  
<div class="card">
  <h4 class="card-title">CMS</h4>
  <div class="card-body">
    <ul>
      <li>CMS Enhancing Oncology [Payment] Model (EOM) - leverages mCODE for data submission</li>
      <li>Tracking CodeX PA and QM Use Cases. On PA: CMS, ONC Listening Sessions</li>
    </ul>
  </div>
</div>
</div>
      <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Implementation & Testing", "implementation.html") %></div>
      </div>
    </div>
  </div>
</div>
