---
title: Adoption & Value
pagetitle: Adoption & Value
Section: Playbook
theme: playbook
---

<div class="container pt-5" data-bs-spy="scroll" data-bs-target="#playbook_menu" data-bs-offset="200">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div id="content" class="col-md-9">
      <h1>Track 5. Adoption & Value</h1>
      <p class="lead">Adoption in the real world is best driven by understanding - starting during the Discovery track - of what forces will move the market to use new standards-based solutions. Forces include user demand, government mandates, and the promise of improved care and research. Value in the real world depends on the level of adoption and the quality of the underlying, new standards-based processes and systems being adopted.</p>

      <p>Once work has progressed to the adoption planning phase, the use case team should also have a clear view - even before the first system or process has been deployed with new standards - whether the prospects for community adoption and value are strong or not.</p>

      <p>A variety of resources are useful in driving adoption and measuring value. The use case champions and their organizations (e.g., medical societies, vendors, etc.) are key, as they know, can communicate with, and often have influence across the community of potential adopters. champions understand the market forces and how to leverage them. It's useful to track and communicate about adoption and the associated value for care and research. Publications of results (peer reviewed, popular press, etc.) are useful.</p> 
<hr>
      <h2 id="adoption">Adoption in the Real World</h2>
      <p>As noted above, all the tracks discussed previously will contribute to an increasingly clear understanding of the level of demand for the standards-based use case, and of what else could be done to increase demand. It's important to leverage the champions and community to communicate the potential value demonstrated during pilots. Success up to this point should contribute to the following factors that spur adoption:</p>
      <ul>
        <li>Real-world pilots of the new standards-based solutions which demonstrate real-world value (increased benefits, decreased costs, etc.).</li>
        <li>Customers (providers, payers, researchers, etc.) demand</li>
        <li>Government regulations and rules changes</li>
        <li>Vendors seeking competitive advantage</li>
        <li>Patients and caregivers demand service levels that require standards-based interoperability</li>
      </ul>
      <p>The steps documented leading to this point should be aligned to maximize the possibility that all the above are true. However, a subset can be sufficient to drive the adoption of new interoperable solutions based on new standards.</p>
      <p>A simplified illustration of the above market forces and others is shown below. Push forces result from stakeholders requiring the use of new standards. Pull forces result from stakeholders requesting products that benefit from standards-based solutions. A specialty-specific version of this graphic could be created for specialty Communities. See also the stakeholder-specific <%= link_to("Value Propositions", "community.html#growth") %> on the community Building page.</p>

      <figure>
        <%= image_tag 'Community-Forces.png', :width => '50%', :class => 'py-5', :alt=>"Bubble diagram of forces acting on data standards" %>
        <figcaption>Diagram showing forces that can demand (pull) and require (push) data standards - The better these forces can be aligned, the more effectively a project can move and have impact</figcaption>
      </figure>
    <hr>
      <h2 id="value">Value in the Real World</h2>   

      <p>When starting adoption of new standards and the standards-based workflows, it will be important to measure the costs and benefits through the new workflows. Such assessments will help improve the standards, workflow design, user interfaces and, when results are positive, accelerate demand, adoption, and value in an enlarging community of users. </p>
      <p>See the <%= link_to("Delivering Value", "/casestudies/mcode_codex.html#delivering_value") %> and <%= link_to("Growth and Impact", "/casestudies/mcode_codex.html#growth_impact") %> sections of the mCODE Standard and CodeX Community Case Study for examples of the measurement and communication of value for the mCODE standard and associated use cases.</p>
      <!--<p>[NOTE: Add more content here]</p>-->
    <div class="playbook-bottom-navigation">
        <div class="previous"><%= link_to("Prev: Implementation & Testing", "implementation.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
</div>
</div>
</div>
