---
title: Adoption & Value
pagetitle: Adoption & Value
Section: Playbook
theme: playbook
---

<div class="container pt-5" data-bs-spy="scroll" data-bs-target="#playbook_menu" data-bs-offset="200">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div id="content" class="col-md-9">
      <h1>Track 5. Adoption & Value</h1>
      <p class="lead">Adoption in the real world is best driven by understanding the market forces that will drive new standards-based solutions, including user demand, government mandates, and the promise of improved care and research. Value in the real world depends on the level of adoption and the quality of the underlying, new standards-based processes and systems being adopted.</p>

      <p>Once work has progressed to the adoption planning phase, the use case team should also have a clear view - even before the first system or process has been deployed with new standards - whether the prospects for community adoption and value are strong or not.</p>

      <p>A variety of resources are useful in driving adoption and measuring value. Use case champions and the organizations they represent (e.g., medical societies, providers, vendors, regulators, and others) are key, as they can influence communities of potential adopters and understand and leverage market forces. To support champions, publication and promotion (peer reviewed papers, popular press articles, conference presentations) of results is useful in establishing use case value for healthcare and research.</p> 
<hr>
      <h2 id="adoption">Adoption in the Real World</h2>
      <p>As noted above, all the previous tracks discussed will help establish the level and drivers of demand for the standards-based use case. It is important to leverage the champions and community to communicate the value demonstrated during pilots. Pilot successes contribute to the following factors that spur adoption:</p>
      <ul>
        <li>Real-world pilots of the new standards-based solutions demonstrate real-world value (e.g., increased benefits and speed, decreased costs and burden).</li>
        <li>Customers (e.g., patients, providers, payers, researchers, and others) increasingly demand standards-based solutions.</li>
        <li>Government regulations and rules increasingly require standards-based solutions.</li>
        <li>Vendors will seek competitive advantage through implementing standards.</li>
      </ul>
      <p>While it is important to maximize these adoption drivers, a subset of these drivers can be sufficient to spur the adoption of new standards and interoperable solutions.</p>
      <p>A simplified illustration of the above market forces and others is shown below. Push forces result from stakeholders requiring the use of new standards. Pull forces result from stakeholders requesting products that benefit from standards-based solutions. A specialty-specific version of this graphic could be created for specialty Communities. See also the stakeholder-specific <%= link_to("Value Propositions", "community.html#growth") %> on the community Building page.</p>

      <figure>
        <%= image_tag 'Community-Forces.png', :width => '50%', :class => 'py-5', :alt=>"Bubble diagram of forces acting on data standards" %>
        <figcaption>Diagram showing forces that can demand (pull) and require (push) data standards - The better these forces can be aligned, the more effectively a project can move and have impact</figcaption>
      </figure>
    <hr>
      <h2 id="value">Value in the Real World</h2>   

      <p>When driving adoption of new standards and new standards-based workflows, it is important to measure the costs and benefits throughout the new systems. Such assessments will help improve the standards, workflow design, and user interfaces. Further, when results are positive, these assessments will help accelerate demand, adoption, and value in an enlarging community of users. </p>
      <p>See the <%= link_to("Delivering Value", "/casestudies/mcode_codex.html#delivering_value") %> and <%= link_to("Growth and Impact", "/casestudies/mcode_codex.html#growth_impact") %> sections of the mCODE Standard and CodeX Community Case Study for examples of the measurement and communication of value for the mCODE standard and associated use cases.</p>
      <!--<p>[NOTE: Add more content here]</p>-->
      <div class="playbook-bottom-navigation">
        <div class="previous"><%= link_to("Prev: Implementation & Testing", "implementation.html", :class=>"btn btn-outline-primary btn-lg") %></div>
        <div class="next"><%= link_to("Next: Case Studies", "../casestudies/index.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
</div>
</div>
</div>
