---
title: Community
---

<div class="container pt-5">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h2>Building Community</h2>
      <p class="lead">Introductory paragraph describing how to build community and the importance to success</p>
      <ol class="body-list">
        <li>Gather specialty <strong>champions</strong> that are committed to lead and that have broad constituencies and access to resources. </li>
        <li>Establish trustworthy and light-weight <strong>governance</strong>, including a scheme for sustaining successful work. </li>
        <li><strong>Grow the community</strong> with organizations representing all key roles for each of the selected Use Cases. </li>
      </ol>

      <blockquote class="blockquote">
        "Quote about "building community from a successful project" - <span class="attrib">M. Smith, project leader</span>
        </blockquote>
      <p><%= image_tag 'shr_community.png', :class => 'py-5' %></p>
      <h3 id="champions">Champions</h3>
      <p>Must be lightweight, with focus on providing infrastructure, starting use cases, adjudicating conflicts, and applying funding to projects (sparingly).</p>
      <p>CodeX Accelerator serves this purpose for Use Cases around cancer (mCODE standard), cardiovascular disease, and genomics, so far. Other governance schemes are possible but would require more effort to startup and engage across specialties.</p>
      <p>Large, medical professional societies and Government organizations have been the most frequent CodeX Champions for most Use Cases, but other stakeholders have also been effective Champions.</p>
      <p>Ability to understand needs, reach all constituencies, and mobilize resources are key.</p>

<h4 class="h5">Engage specialty and Use Case Champions early in the process</h4>

Champions are organizations and individuals who:
<ul>
<li>are willing to lead</li>
<li>understand the problems</li>
<li>believe the SHR approach is a key part of future solutions</li>
<li>command the attention of their larger community and influence others to engage</li>
<li>motivate vendor implementation of SHR and its use in health processes</li>
<li>muster the resources needed to succeed</li>
<li>drive one more key stages of the initiative: Community Engagement, Use Case Prioritization, Standards Development, Implementation & Pilots, Adoption & Value</li>
</ul>
      <h3 id="governance">Governance</h3>
<p>  Must be lightweight, with focus on providing infrastructure, starting use cases, adjudicating conflicts, and applying funding to projects (sparingly).</p>
<p>CodeX Accelerator serves this purpose for Use Cases around cancer (mCODE standard), cardiovascular disease, and genomics, so far. Other governance schemes are possible but would require more effort to startup and engage across specialties.</p>

      <p><%= image_tag 'governance_structure.png', :width => '100%', :class => 'py-5' %></p>
  
      <h3 id="growth">Grow the community</h3>
      <p>Each Use Case has the potential to attract new participants.</p>
      <p>Ideally, engage multiple representatives for each role to expand input and build redundancy.</p>
  
      <h3 id="observations">Observations</h3>
<p>Medical societies (deep understanding of provider and patient challenges, and a large community of their own) and Gov’t agencies (with their imprimatur) have been the most successful Champions, to date</p>
<p>Both types of Champions have been successful in defining meaningful Use Cases.</p>
<p>Use Cases help Champions engage the right subsets of other stakeholder groups that care most about that Use Case and have the skills needed to execute.</p>
<p>Each Use Case (a) attracts more participants into the community, (b) defines, validates, and/or motivates improvements to underlying workflows and standards, and (c) motivates demand, adoption, and value.</p>
<p>Participants benefited from the CodeX Accelerator, which provided a home, connection to the HL7 standards organization, internal process, shared experiences between Members and Use Cases, member-fee funding to help with sustainability, and fair and lightweight governance       </p>
      
      <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Introduction", "introduction.html") %></div>
        <div class="next"><%= link_to("Next: Planning & Use Cases", "planning_use_cases.html") %></div>
      </div>
    </div>
  </div>

</div>
