---
title: Community
---

<div id="content" class="container pt-5" data-bs-spy="scroll" data-bs-target="#playbook_menu" data-bs-offset="200">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h1>Building Community</h1>
      <p class="lead">Gathering the right organizations and people has been the most foundational and challenging track in the MITRE Interoperabilty Playbook.</p>
      <p>It’s very likely that almost everyone reviewing this site agrees that enabling true health data interoperability is more a social challenge, than a medical or technical challenge. It takes people who share a vision and mission, can align different views of how to get there, and invest the resources needed to change the status quo and gain sustainable growth and momentum. </p>

      <p>Actions that <%= link_to("CodeX","https://confluence.hl7.org/display/COD/CodeX+Home") %> has found indispensable include (a) Engaging Champions, (b) Establishing Governance, (c) Growing the Community, and (d) Communicating Value Propositions that Enable Growth.  These actions are expanded upon below.</p>
<div id="champions">
      <h2>Champions</h2>
      <p>An essential first step when starting a new specialty initiative or starting a new Use Case within that initiative is for "Champions" to step-up to lead. In CodeX, Champions are organizations and individuals that:</p>
      <ul>
      <li>Commit to lead the initiative and/or Use Case</li>
      <li>Understand the challenges for which standards-based data interoperability provide substantial benefits</li>
      <li>Envision a future where patient data can be collected once, and then used with no or little manipulation for many use cases around patient care, research and other applications</li>
      <li>Command the attention of their larger community and can influence future users and stakeholders to engage</li>
      <li>Motivate implementation of new standards into vendor solutions</li>
      <li>Motivate the change needed to use and benefit from of the standards-based systems in use in health processes</li>
      <li>Muster the resources needed to succeed</li>
      <li>Drive one more key tracks of the initiative: Community Engagement, Use Case Prioritization, Standards Development, Implementation & Pilots, Adoption & Value</li>
      </ul>
      
      <p>It's clear that Champions have significant responsibilities.  But they also realize future benefits in terms of defining direction, achieving objectives, and ultimately improving health care and research within their orgazniations and across the landscape. </p>
      <p>Large, medical professional societies and Government organizations have been the most frequent CodeX Use Case Champions, but other stakeholders have also been effective Champions. The founding Champions for the overall CodeX initiative (which started by addressing challenge in oncology) were <%= link_to("American Society of Clinical Oncology (ASCO)","https://www.asco.org") %>, with reach to all oncologists and centers; and <%= link_to("The MITRE Corporation","https://www.mitre.org") %>, with deep expertise in convening, FHIR standards and systems engineering. </p>
</div>

<div id="governance">
      <h2 id="xgovernance">Governance</h2>
      <p>An organizational framework is important for any initiative involving many organizations, often with divergent interests and views. Views and interests need to be heard and understood. Decisions need to be taken. Example decisions include updates to the Governance structure itself, Membership structure and fees, adjudicating conflicts, administrative support, starting new Use Case work, and providing funding and resources to projects in special cases when the Community can’t. </p>
      <p>CodeX Accelerator provides the Governance for Use Cases around cancer (and the <%= link_to("mCODE standard","https://confluence.hl7.org/display/COD/mCODE") %>), cardiovascular disease, and genomics, so far. Other governance schemes are possible but would require more effort to start and to coordinate effectively across specialties.  </p>
      <p>The graphic below captures the CodeX Governance structure as of 2024.  The tiered structure offers participation different of levels of responsibility and time commitment.  Details of the current <%= link_to("CodeX Governance scheme can be found on their website.","https://confluence.hl7.org/display/COD/Governance")%></p>

      <p><%= image_tag 'governance_structure.png', :width => '100%', :class => 'py-5' %></p>
  
      <p>A few points regarding CodeX Governance: Major decisions are made by the elected Steering Committee. The vast majority of all Community effort is within the Use Case projects.  The Community of Practice (near bottom of graphic) is open to the public and has been an effective feeder of new organizations and talents into CodeX membership and Use Cases.</p>
<p>One of the key “External Expert Groups” (circle on right) is the mCODE Executive Committee and its Technical Review Group. This Committee provides most of the subject matter expertise across oncology fields that ensure the mCODE FHIR Implementation Guide is based on the most credible and recent clinical knowledge.</p>
      <p>A strategy for sustaining work of the initiative is important.  Success is not achieved overnight. In CodeX, the range of skills (and sometimes money) needed to drive each Use Case, is provided by participants. Funding for overarching Program Management (near top of the graphic above) is largely from Membership fees. Based on 2024 CodeX Membership (<%= link_to("current Membership list is here","https://confluence.hl7.org/display/COD/CodeX+Membership")%>) and Membership fee structure (<%= link_to("current fee structure is here","https://confluence.hl7.org/display/COD/CodeX+Membership+Options")%>) Membership fees provide about $800K (2024 USD) annually primarily for Program Management.</p>

</div>
<div id="growth">
      <h2 id="xgrowth">Community Growth</h2>
      <p>For Use Case projects to progress from a vision to adoption and value in the real world, a variety of organizations and skillsets are needed. Thus, the community must be grown such that there are participants with direct experience related to each of the envisioned roles in the specialty intiative and its Use Cases.</p>
      <p>For example, in the CodeX Radiation Therapy Case Study, the team included participants from radiation therapy societies, health systems, payers, and vendors. Skillsets included clinical practice, radiation oncologists, radiation physicists, software engineers, informaticists, FHIR experts, HL7 standards process experts, and more. Getting the right set of people together at the right times in the process can be challenging. It’s ideal to have redundancy among these roles, to bring in a diversity of experience and in case some people have to reduce their effort. Jelling as a committed and focused team is critical. Leadership of Champions is key.</p>
      <p>The good news is that a promising Use Case has the potential to attract new participants. These participants appreciate the potential value of the work, are willing to invest resources to realize that value, and want to be at the table where decisions are made and work is executed.</p>

</div>
<div id="value_prop">

    <h2 id="xvalue_prop">Value Propositions</h2>
      <p>CodeX experience suggests that different value propositions often resonate with different stakeholders. The following generalizes, for six different groupings of stakeholders: (a) <b>the value to a specialty data standardization initiative</b> for each stakeholder's involvement, and (b) the <b>value to each stakeholder</b> for investing their resources in a specialty data standardization initiative.</p>

      <div class="community-growth-items">
      <!-- =========================================== -->
      <h4>Providers, Health Systems & Associated Specialty Societies</h4>
      <p class="stakeholder-value">Value to the specialty standardization initiative of engagement by these stakeholders</p>
      <ul>
        <li>Representing, informing, and convincing a broad group of clinical constituents that this is important
        <li>Providing experts who can offer deep clinical knowledge</li>
        <li>Customers of vendors, from whom  they can demand standards-based solutions</li>
        <li>Potential funding</li>
      </ul>

      <p class="stakeholder-value">Value to these stakeholders to engage in the specialty initiative</p>
      <ul>
         <li>Better care (improved quality and speed, lower burden and cost cost)</li>
         <li>Empower shared decision-making between patients and providers </li>
         <li>Better secondary uses (quality measure reporting, payer communications, research, etc.) </li>
       
      </ul>

      <!-- =========================================== -->
      <h4>Patient & Associated Advocate Societies</h4>
      <p class="stakeholder-value">Value to the specialty standardization initiative of engagement by these stakeholder</p>
      <ul>
        <li>Represent, inform, and convince a broad group of patients and caregivers</li>
        <li>Provide the patient perspective to ensure patient-centered approach</li>
        <li>Patients are likely to increasingly demand the ability to collect, share, and control their health data (and thus motivate standards adoption)</li>
      </ul>
      
      <p class="stakeholder-value">Value to these stakeholders to engage in the specialty initiative </p>
      <ul>
        <li>Patients and caregivers feel the pain of the lack of standardized data (difficult to access, share between providers and caregivers, etc.), and the consequences of this gap</li>
        <li>A common motto of CodeX work is that “every patient’s journey improves all future care” </li>
        <li>Patient advocates can ensure patient centered care is at the forefront of developing core health data models and standards </li>
        <li>Involvement of patients and advocates will translate to better care in the future, ensuring the continuum of care is enabled </li>
      </ul>

      <!-- =========================================== -->
      <h4>Regulators</h4>
      <p class="stakeholder-value">Value to the specialty standardization initiative of engagement by these stakeholders </p>
      <ul>
        <li>Some government agencies issue rules/regulations regarding adoption of standards that could help propel specialty standards work</li>
        <li>Many government agencies are part of other stakeholders</li>
        <li>Potential funding</li>
      </ul>
      <p class="stakeholder-value">Value to these stakeholders to engage in the specialty initiative </p>
      <ul>
        <li>Work in CodeX-like initiatives can be aligned with Government rules, regulations, norms (e.g., USCDI, FHIR)</li>
        <li>Government agencies (ONC, etc.) have already recognized the value of the CodeX and mCODE approach</li>
      </ul>

      <!-- =========================================== -->
      <h4>Vendors (EHR and other health IT companies)</h4>
      <p class="stakeholder-value">
      Value to the specialty standardization initiative of engagement by these stakeholders 
      </p>
      <ul>
        <li>Will respond when many of their key customers ask for products based on standards</li>
        <li>Have ability to look across customers and across specialties and suggest ways to develop standards to optimize implementation and maintenance within systems</li>
      </ul>
      
      <p class="stakeholder-value">
      Value to these stakeholders to engage in the specialty initiative 
      </p>
      
      <ul>
        <li>Vendors are already enabling USCDI sharing via FHIR, and many are implementing mCODE and associated CodeX Use Case products</li>
        <li>Vendors can help align customer interests (fewer custom implementations)</li>
        <li>Vendors can provide input to ensure standards are implementable in their systems and consistent across specialties (cost effective development)</li>
        <li>Vendors who participate actively have a first mover advantage, move their products to market ahead of competitors</li>
      </ul>

      <!-- =========================================== -->
      <h4>Payers</h4>
      <p class="stakeholder-value">Value to the specialty standardization initiative of engagement by these stakeholders </p>
      <ul>
        <li>Can demand use of standards by associated health systems and vendors</li>
        <li>Potential funding</li>
      </ul>
      
      <p class="stakeholder-value">
      Value to these stakeholders to engage in the specialty initiative 
      </p>
      <ul>
        <li>Easier access to necessary clinical data, standardized across customers needed to make decisions</li>
        <li>Improved automation to process actions more quickly, and even automatically (e.g., prior authorization, claims processing, etc.)</li>
        <li>Higher quality care, supported by standard data, will be informed by payers who are at the forefront of pay-for-value approaches to care </li>
      </ul>

      <!-- =========================================== -->
      <h4>Researchers</h4>
      <p class="stakeholder-value">Value to the specialty standardization initiative of engagement by these stakeholders </p>
      <ul>
        <li>Substantial increase in speed, ease and cost-effectiveness when much of the data is collected and shared via the same standards</li>
        <li>Potential funding</li>
      </ul>
      <p class="stakeholder-value">Value to these stakeholders to engage in the specialty initiative</p>
      <ul>
        <li>More patient point-of-care data will be unlocked (with appropriate consents) and aggregated faster and with less expense for research (e.g., less curation)</li>
        <li>Substantial increase in speed, ease, and cost-effectiveness when much of the data is collected and shared via the same standards across studies and institutions</li>
        <li>Potential funding</li>
      </ul>
    </div>
</div>
     <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Design Principles", "design_principles.html", :class=>"btn btn-outline-primary btn-lg") %></div>
        <div class="next"><%= link_to("Next: Use Cases & Planning", "use_cases_planning.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
    </div>
  </div>

</div>
