---
title: Design Principles
pagetitle: Design Principles
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
      <h1>Design Principles</h1>
      
      <p class="lead">
        Below are principles that have guided the <%= link_to("CodeX HL7 FHIR Accelerator Community","https://confluence.hl7.org/display/COD/CodeX+Home") %> and in the design, development, testing, and adoption of FHIR-based data standards, including <%= link_to("mCODE","https://confluence.hl7.org/display/COD/mCODE") %>. If additional specialties follow these principles, the resulting standards are more likely to be developed efficiently, and to be interoperable and compatible across specialties as part of a life-time patient Standard Health Record.
      </p>
             
      <ol class="section-list">
        <li>Standards must be <b>Open</b>, <b>Community-</b> and <b>Use Case-driven</b>, and with <b>adoption</b> and <b>value</b> the focus from the beginning.
          <ul>
            <li>Need broadest possible support of patients, providers, Gov’t, vendors, payers, etc.</li>
            <li>Ensure standards are informed by and address real community problems. Plan from the start for implementation, adoption, and real value.</li>
            <li>Standardize the work though and open, royalty-free standard organizations, like <a href="https://www.hl7.org/">Health Level Seven (HL7).</a></li>
            <li>Demonstrate potential value and motivate adoption in the real environments.</li>
          </ul>
        </li>

        <li>Standardized <b>data</b> must be part of every patient's <b>standard of care</b>. 
          <ul>
            <li>The primary focus is collection and sharing of quality, core, standardized data related to <b>patient care and outcomes</b>, with a visionary result of a coherent lifetime Standard Health Record for every patient.</li
            <li>Data originally collected for one patient's health state can be important for future states.</li>
            <li>Secondary uses of patient care data (personal, research, quality measurement, payer operations, etc.) will be hugely valuable and more cost-effective than current approaches.</li>
            <li>Can also create supplemental IGs.</li>
          </ul>
        </li>

        <li><b>Encounter-based</b> and <b>discrete</b> observations and actions (e.g. patient birth date = 11/04/1989 vs. patient is 34 years old).
          <ul>
            <li>Allows aggregated calculations using different observations and actions, via different approaches, for different use cases, at different times.</li>
          </ul>
        </li>

        <li><b>Data collected once</b> (generally around the encounter). Data collected can then be reused for multiple use cases going forward.
          <ul>
            <li>Not all data elements will be collected for every patient during every encounter, since people and their disease states differ.</li>
            <li>When data should be collected, the standard provides the template.</li>
          </ul>
        </li>

        <li>Define <b>core clinical data elements</b> needed across key use cases and stakeholders.
          <ul>
            <li>Create supplemental IGs for more detailed data needs that are important mainly for very specialized situations.</li>
          </ul>
        </li>

        <li>Ensure <b>consistent representation</b> of data elements that may be used across specialties.
          <ul>
            <li>Different specialties require similar data that might have been historically described differently.</li>
            <li>Establish principles, templates, and processes that reconcile differences and consolidate in one place, where possible.</li>
          </ul>
        </li>

        <li>Leverage <b>Government-backed interoperability standards</b> whenever possible (e.g., FHIR, USCDI represented in FHIR as US Core, USCDI+ ...).
          <ul>
            <li>Gov’t support increases impetuous for adoption and thus provides a stronger basis for cross-specialty interoperability.</li>
            <li>May require changes to representations of previous work.</li>
          </ul>
        </li>

        <li>Leverage the <b>best, previous work</b> (standards, tools, etc.).
          <ul>
            <li>If previous work is already represented in Government backed standards, use rather than re-do.</li>
            <li>Leverage the available approaches and tools for modeling and IG development.</li>
            <li>These will motivate higher-quality FHIR IGs that are more coherent across specialties, use cases, and projects.</li>
          </ul>
        </li>

        <li>Leverage <b>global code systems</b>.
          <ul>
            <li>Observations and actions can be represented consistently within and across specialties, in many cases, around the world using standardized, widely used terminologies, vocabularies, and codes (e.g., LOINC, SNOMED CT, CPT, etc.).</li>
          </ul>
        </li>

        <li>Get input and review through <b>clinical specialists and patients first</b>, then other medical, standards, and vendor experts.
          <ul>
            <li>Ensure clinical relevance as a priority.</li>
            <li>Add other health Use Cases, technical, and standards expertise.</li>
          </ul>
        </li>

        <li>These are data standards for data <b>collection</b> (storage) and <b>exchange, not</b> for user <b>interfaces</b>.
          <ul>
            <li>Software can be developed to compile customized calculations based on standardized data</li>
            <li>User interfaces can be developed to collect, use, and analyze data in a manner understandable to different users.</li>
          </ul>
        </li>

        <li><b>Controlled by the patient</b>.
          <ul>
            <li>Patient decide who gets what data for what purposes for what timeframes in a way that follows the data.</li>
          </ul>
        </li>
      </ol>
      
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Getting Started", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Building Community", "community.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

    </div>
  </div>
</div>
