---
title: Design Principles
pagetitle: Design Principles
section: Playbook
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h1>Design Principles [UNDER RE-CONSTRUCTION - BRATT - OCT15-16]</h1>
      
      <p class="lead">
        Below are principles that have guided the <%= link_to("CodeX HL7 FHIR Accelerator Community","https://confluence.hl7.org/display/COD/CodeX+Home") %> and in the planning, design, development, testing, adoption, and value of FHIR-based data standards, including <%= link_to("mCODE","https://confluence.hl7.org/display/COD/mCODE") %>. These principles guide the recommendation found in the <%= link_to("Playbook Tracks", "index.html#organization") %> and <%= link_to("Case Studies", "/casestudies/index.html") %> on this website.  If additional specialties follow the principles, the resulting standards are more likely to be developed efficiently, to be interoperable and compatible across specialties as part of a life-time patient Standard Health Record, to be adopted in practice, and to provide value for patients and all stakeholders.
      </p>
             
      <ol class="principles-list col-lg-10">
        <li>A dedicated and diverse <b><%= link_to("Community", "community.html") %></b> is essential to the design and execution of a health data standards project 
          <ul>
          <li>The Community must include all or a subset of patients, providers, health systems, Gov’t, vendors, payers, and others, depending on the Use Case.</li>
          <li>Community members will plan Use Cases, design and develop solutions, and drive impactful adoption to that solve specific Community problems.</li>
          </ul>
        </li>

        <li>Compelling <b><%= link_to("Use Cases", "use_cases_planning.html") %></b> are the foundation upon which solutions are designed and driven.
          <ul>
              <li>A good Use Case is a well-defined project that addresses an important and narrowly-focused problem.</li>
              <li>Each Use Case plan must (ultimately) be <b>end-to-end</b>, including the scope of work, resources required, a minimal set of data concepts to be standardized, how standards will be implemented in systems and processes, how they will be tested in realistic settings, and how adoption and value will be achieved in the real world.</li>
              <li>Prioritize Use Cases that address serious problems. Start with Use Cases that have all the <b>Community support and resources needed to succeed</b>.</li>
              <li>Use Cases that improve collection and sharing of quality, core, standardized data related to <b>patient care and outcomes</b> should be the top priority. Patient care data will make major contributions to secondary uses, such as research, quality measurement, payer operations, regulatory requirements, personal use, etc.</li>
          </ul>
        </li>

        <li><b><%= link_to("Clinical information requirements", "standards.html#clinical_requirements") %></b> for a Use Case come first.
          <ul>
           <li>Build consensus through a <b>diverse team of clinial experts</b> on the <b>minimal data requirements</b> needed to address core Use Case requirements and which could be used for multiple Use Cases.</li>
           <li>Define clinical requirements as <b>discrete</b> observations and actions (e.g., patient birth date = 11/04/1989 vs. patient is 34 years old).</li>
           <li>If </b>previous work</b> in the space exists, seek to work with the other initiatives and if it makes sense, adopt/adapt their work rather than re-do it.</li>
        <li>Get input and review through <b>clinical specialists and patients first</b>, then other medical, standards, and vendor experts.</li>
          </ul>
        </li>

       <li><b><%= link_to("FHIR Standards Development", "standards.html#fhir_ig_development") %></b> must be focused the minimal clinical requirements.
          <ul>
           <li><b>Start small</b>.  The innitial, minimal FHIR Implementation Guide (IG), can be expanded if future Use Case requirements dictate. Supplemental IGs can be built when new data requirements are not considered core, but important for smaller Communities and/or edge applications.</li>
          <li>Leverage <b>Government-backed interoperability standards</b> whenever possible, e.g., <a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a>, <a href="https://hl7.org/fhir/summary.html">Fast Healthcare Interoperability Resources (FHIR)</a>, <a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a>, and others. Gov’t support increases motivation for adoption and thus provides a stronger basis for cross-specialty interoperability.</li>
            <li>Leverage the <b>available tools</b> for modeling and IG development, to produce higher-quality FHIR IGs that are more coherent across specialties, Use Cases, and projects.</li>

          <li>Leverage <b>global code systems and terminology standards</b> (e.g., LOINC, SNOMED CT, CPT, etc.).</li>
          <li>Not all data elements represented in an IG will be collected for every patient during every encounter, since people and their disease states differ. When data should be collected, the standard provides the template.</li>
         <li>Standardize work through an <b>open, royalty-free health standards development organization</b>, like <a href="https://www.hl7.org/">Health Level Seven (HL7).</a></li>
          </ul>
        </li>


 
          <li>Work within a vision of a coherent lifetime <%= link_to("Standard Health Record", "/resources/tech-standards.html#fhri-additional-considerations") %> for every patient, even while focusing on each narrowly-scoped Use Case.
<ul>
      <li>Work to enable standardized <b>data</b> to become the basis for every patient's <b>health record and standard of care</b>. 
      <li><b>Collect patient data once</b> (generally around the encounter). Data collected can then be reused for multiple Use Cases going forward, wiht minimal or no re-mapping.</li>
      <li>Data originally collected for one patient's health event can be important for future events, including different health disease states.</li>
      <li>Work to enable <b>consistent representation</b> of data elements that could be used across specialties, subspecialties, and Use Cases. Different specialties, subspecialties, and Use Cases within a specialty often require the same data concept that could be modelled differently (and perhaps have been described differently, historically).</li>
      <li>Leverage principles, templates, and cross-specialty processes that reconcile differences and consolidate solutions in one place, where possible.</li>
      <li>Patients are increasingly aware of and their health data and options for its collection, storage, and use. Work to empower Patients to be <b>engaged with </b> and have <b>control</b> of their health data.</li>
          </ul>
        </li>

     
      </ol>
      
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Before Starting", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Community Building", "community.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

    </div>
  </div>
</div>
