---
title: Design Principles
pagetitle: Design Principles
section: Playbook
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h1>Design Principles</h1>
      
      <p class="lead">
        Below are principles that have guided the <%= link_to("CodeX HL7 FHIR Accelerator","https://confluence.hl7.org/display/COD/CodeX+Home") %> through the design, planning, development, testing, and adoption of FHIR-based data standards. These principles guide and are elaborated upon in the <%= link_to("Playbook Tracks", "index.html#organization") %> and <%= link_to("Case Studies", "/casestudies/index.html") %>.  If specialty communities follow these principles, the resultant standards can be developed more efficiently, will be more compatible with other aspects of the patient's health records, have better adoption, and improve healthcare experiences for all.
      </p>
             
      <ol>
        <li>A dedicated and diverse <b><%= link_to("community", "community.html") %></b> is essential. 
          <ul>
          <li>Each use case needs representation from <b>all</b> stakeholders (e.g., patients, providers, health systems, Gov’t agencies, vendors, payers, and others).</li>
          </ul>
        </li>

        <li>Compelling <b><%= link_to("use cases", "use_cases_planning.html") %></b> are the foundation for solutions.
          <ul>
              <li>Each use case should address a single, important, <b>narrowly-focused</b> problem.</li>
              <li>Plan with the <b>end in mind</b>. Comprehensive plans include the scope, resources, data requirements, and a pragmatic strategy for how standards will be adopted and provide real-world value.</li>
              <li>Prioritize critical community challenges. However, start with simpler use cases that have a <b>commitment from the community</b>.</li>
              <li>Use cases that improve collection and sharing of data related to patient care and outcomes should be the <b>top priority</b>.</li>
          </ul>
        </li>

        <li><b><%= link_to("Clinical information requirements", "standards.html#clinical_requirements") %></b> are a first priority for each use case.
          <ul>
           <li>Build consensus within a <b>diverse team of clinical experts</b> on the <b>minimal data requirements</b> needed to address the use case.</li>
           <li>Clinical requirements should be <b>discrete</b> observations and actions (e.g., patient birth date = 11/04/1989 vs. patient is 34 years old).</li>
           <li>Seek to collaborate with the other initiatives and <b>adapt their work rather than re-do</b>.</li>
          </ul>
        </li>

       <li>A use case's <b><%= link_to("FHIR Implementation Guide (IG)", "standards.html#fhir_ig_development") %></b> influences its useability, interoperability, and thus value to adopters.
          <ul>
           <li>Develop first a <b>single, core IG</b> that represents the minimal clinical requirements for small set of use cases. This core IG can be expanded upon as use cases are executed and supplemented by related IGs when data requirements are important for just a small subset of the community.</li>
          <li>Leverage <b>government-backed interoperability standards</b> (<a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a> and <a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a>) and <b>global code systems and terminology standards</b> (LOINC, SNOMED CT, CPT, etc.).</li>
          <li>Leverage the <b>available tools</b> (see the <%= link_to("Resources page", "/resources/index.html") %>) to produce high-quality FHIR IGs that are coherent across specialties, use cases, and projects.</li>
          <li>Publish work through an <b>open, royalty-free health standards organization</b>, preferably <a href="https://www.hl7.org/">Health Level Seven (HL7).</a></li>
          </ul>
        </li>
 
   <li>Build use cases within a vision of a comprehensive lifetime <b><%= link_to("Standard Health Record", "/resources/tech-standards.html#fhir_additional_considerations") %></b> for every patient.
<ul>
      <li>Enable standardized data to become the foundation for <b>every patient's health records and care</b>. 
      <li>Empower patients to <b>engaged and control</b> their health data.</li>
      <li><b>Collect data once</b> and reuse it for future needs and other use cases.</li>
      <li>Enable <b>consistent representation</b> of health data that can be used across specialties, subspecialties, and use cases.</li>
          </ul>
        </li>

     
      </ol>
      
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Before Starting", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Community Building", "community.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

    </div>
  </div>
</div>
