---
title: Getting Started
pagetitle: Getting Started
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
        <h1>Getting Started:</h1>
        <h2>Questions to Consider Before Launching a Substantial, New Specialty Initiative</h2>

    
    <p>When people from outside the oncology space learn about how the mCODE Standard and CodeX Community are revolutionizing interoperability for cancer data (see the <%= link_to("mCODE and CodeX Case Study","/casestudies/mcode_codex.html") %>), they often ask, "How can I relicate this experience to improve interoperability within our specialty?".</p>
<p>
The rest of this site shares experience aimed to help a new specialty standards initiative get from its start to delievering real value. However, MITRE has found that the following are the <b>four most important questions that should be asked and largely answered before starting a substantial a new specialty standards initiative</b>. Each question references the "Key Playbook Tracks" that can be consulted for more details on how questions could be addressed.</p>
    <ul class="action-list">
<br>    
     <li><b>Which specialty Community Champions will drive success?</b>
        <ul>
          <li>Champion leadership is key to the steps below and elsewhere in the Playbook.</li> 
          <li>Champions understand needs, reach large constituencies,  mobilize resources, and help drive to success.</li>
          <li>Leading medical professional societies and Government organizations have been the successful CodeX Champions.</li>
          <li>Must commit to the approach, to leading a project that grows in complexity and participation, and to helping to find skills and funding.</li>
          <li>Must agree on a Governance framework that facilitates communications, consensus-building, decision-making, project management, effort, and resource distribution.</li>
<li>(Key Playbook Track: <%= link_to("Community Building", "community.html") %>)</li>
        </ul>
     </li>
<br>            
      <li><b>Which Use Cases will the specialty work on first?</b>
        <ul>
          <li>Use Cases help prioritize effort into manageable segments that attract key Champions and critical Community members.</li>
          <li>Each Use Case includes a specific health IT or process challenge that (a) attracts more participants into the Community, (b) defines, validates, and/or motivates improvements to underlying workflows and standards, and (c) motivates demand, adoption, and value. Data are collected and shared using the same standard for multiple Use Cases.</li>
          <li>Initial CodeX Use Cases often start with the easist (not typically easy) problems and solutions for which demonstrations can be delivered the soonest, around which many stakeholders can align. Use Cases can grow in scope over time.</li>
<li>(Key Playbook Track: <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
        </ul>
      </li>
<br>            
      <li><b>What's the strategy for adoption of standards-based solutions?</b>
        <ul>
          <li>Each Use Case needs a pragmatic approach that envisions how the resulting solution will be adopted in the ecosystem and improve care and/or reduce burden.</li>
          <li>Engagement of future users who require (e.g., gov’t agencies) and/or demand (e.g., customers) vendors to implement solutions has proved invaluable in CodeX.</li>
<li>(Key Playbook Tracks: <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Adoption & Value", "adoption.html") %>)</li>
        </ul>
      </li>
<br>            
      <li><b>Are the necessary resources available to start the first Use Case(s) and deliver success?</b>
        <ul>
          <li>Starting Use Cases and demonstrating solutions require specific types of organizations, skillsets, and often financing – at the right times.</li>
          <li>Resource requirements are typically less clear at the start, but become clearer as work ramps up.</li>
          <li>Use Case scope and timelines can often be scaled to available resources and still be successful.</li>
          <li>In CodeX, initial, rapid, promising Use Case results - generally from the easiest early phases of a Use Case - helped attract and justify involvement of new organizations, gather the needed skillsets, and secured funding.</li>
<li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
        </ul>
      </li>
    </ul>
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Introduction", "index.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Design Principles", "design_principles.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

  </div>
</div>
</div>
