---
title: Before Starting
pagetitle: Before Starting
section: Playbook
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h1>Before Starting Your Project:</h1>
      <h2>Four Questions to (mostly) Answer <i>in Advance</i> of Launching a New Specialty Standards Initiative</h2>

      <p>When people from outside the oncology space learn about how the mCODE Standard and CodeX Community are revolutionizing interoperability for cancer data (see the <%= link_to("mCODE and CodeX Case Study","/casestudies/mcode_codex.html") %>), they often ask, "How could we replicate this experience to improve interoperability within our specialty?".</p>

      <p>Other pages in this Playbook share experience aimed to help a new specialty standards initiatives deliver real value. However, MITRE has found that the following four questions should be asked and largely answered before treading too far into a new specialty standards initiative. Each question references the <%= link_to("Key Playbook Tracks", "index.html#organization") %> that can be consulted for more details on how questions could be addressed.</p>
      <p>The following graphic maps the four questions to be answered before starting the initiative (boxes A - D in <b><span style="color: DarkGreen">green</span></b>, below) to a notional use case timeline for the five tracks to execute once the initiative is started (circles 1 - 5, below and explained in the <%= link_to("Introduction", "index.html#organization") %>). Note that all four questions map to the early period of the Community Building track, and three questions map to the early period of the use cases & planning track:</p>
      <figure>
        <%= image_tag 'gettingstarted-to-tracks_timeline.png', :width => '100%', :class => 'py-5', :alt=>"Key questions mapped to the Playbook tracks." %>
        <figcaption>Diagram showing four key questions to ask before starting work mapped to a notional timeline for the Playbook work tracks.</figcaption>
      </figure>

      <p>Next, the four questions to answer before launching a new specialty standards initiative:</p>

      <ol class="action-list"; type="A">
      <br>
        <li id="champions"><b>Which specialty community champions will drive success?</b>
          <ul>
            <li>Champion leadership - for the specialty initiative as a whole and for each specialty use case - is key to the steps below and elsewhere in the Playbook.</li> 
            <li>Champions understand needs, know and reach large constituencies, understand related initiatives, mobilize resources, and help drive to success.</li>
            <li>Leading medical professional societies and government organizations have been the successful CodeX champions.</li>
            <li>Must commit to the approach, to leading a project that grows in complexity and participation, and to helping to find skills and funding.</li>
            <li>Must agree on a governance framework that facilitates communications, consensus-building, decision-making, project management, effort, and resource distribution.</li>
            <li>(Key Playbook Track: <%= link_to("Community Building", "community.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="use_cases"><b>Which use cases will the specialty work on first?</b>
          <ul>
            <li>Use cases help prioritize effort into manageable segments.</li>
            <li>Each use case includes a scoped health IT or process challenge that (a) defines, validates, and/or motivates improvements to underlying workflows, data requirements, and data standards, (b) attracts more needed participants and skillsets into the Community, and (c) motivates demand, adoption, and value. Ideally, software collects and shares data using the same standard which can expand with and support multiple use cases.</li>
            <li><%= link_to("CodeX Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> typically start with easier (not easy) problems and solutions around which champions and other stakeholders can align quickly, and for which demonstrations could be delivered within several months. Even use cases that start modestly can grow in ambition and complexity over time.</li>
<li>New specialties might look at <%= link_to("CodeX Oncology Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %>. They may find that there is a parallel use case in their specialty (e.g., for clinical trials, registry reporting, quality measurement, prior authorization, etc.) for which previous oncology work could provide a jump start in the new specialty. </li> 
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="adoption"><b>What's the strategy for adoption of standards-based solutions?</b>
          <ul>
            <li>Each use case needs a pragmatic vision for how the specialty community will adopt resulting solutions into their software ecosystems and improve care and/or reduce burden.</li>
            <li>Community engagement of future users who require (e.g., gov’t agencies) and/or demand (e.g., customers) vendors to implement solutions has proved invaluable in CodeX.</li>
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Adoption & Value", "adoption.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="resources"><b>Are the necessary resources available to start the first use case(s) and deliver success?</b>
          <ul>
            <li>Launching use cases and demonstrating solutions require specific types of organizations, champions, skillsets, and often financing – at the right times.</li>
            <li>Resource needs are often less clear at the start but become increasingly clear as work is planned and accelerated.</li>
            <li>Use case scope and timelines can be scaled to available resources and still be successful. </li>
            <li>In CodeX, initial, rapid, promising use case results - generally from the easiest early phases of a use case - helped attract and justify the involvement of new organizations, gather the needed skillsets, and secured funding.</li>
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
          </ul>
        </li>
      </ul>
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Introduction", "index.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Design Principles", "design_principles.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

  </div>
</div>
</div>
