---
title: Before Starting
pagetitle: Before Starting
section: Playbook
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h1>Before Starting Your Project:</h1>
      <h2>Four Questions to (mostly) Answer <i>in Advance</i> of Launching a New Specialty Standards Initiative</h2>

      <p>When people from outside the oncology space learn about how the mCODE Standard and CodeX Community are revolutionizing interoperability for cancer data (see the <%= link_to("mCODE and CodeX Case Study","/casestudies/mcode_codex.html") %>), they often ask, "How could we replicate this experience to improve interoperability within our specialty?".</p>

      <p>Other pages in this Playbook share experience aimed to help a new specialty standards initiatives deliver real value. However, MITRE has found that the following four questions should be asked and largely answered before treading too far into a new specialty standards initiative. Each question references the <%= link_to("Key Playbook Tracks", "index.html#organization") %> that can be consulted for more details on how questions could be addressed.</p>
      <p>The following graphic maps the four questions to be answered before starting the initiative (boxes A - D in <b><span style="color: DarkGreen">green</span></b>, below) to a notional use case timeline for the five tracks to execute once the initiative is started (circles 1 - 5, below and explained in the <%= link_to("Introduction", "index.html#organization") %>). Note that all four questions map to the early period of the Community Building track, and three questions map to the early period of the use cases & planning track:</p>
      <figure>
        <%= image_tag 'gettingstarted-to-tracks_timeline.png', :width => '100%', :class => 'py-5', :alt=>"Key questions mapped to the Playbook tracks." %>
        <figcaption>Diagram showing four key questions to ask before starting work mapped to a notional timeline for the Playbook work tracks.</figcaption>
      </figure>

      <p>Next, the four questions to answer before launching a new specialty standards initiative:</p>

      <ol class="action-list"; type="A">
      <br>
        <li id="champions"><b>How can specialty community champions drive success?</b>
          <ul>
            <li>Leadership - for the specialty initiative as a whole and for each specialty use case - is key to the steps below and elsewhere in the Playbook.</li> 
            <li>Understand speciality needs, engage large constituencies, collaborate with related initiatives, mobilize resources, and drive success.</li>
            <li>Engage medical professional societies and government organizations.</li>
            <li>Lead a project that grows in complexity and participation and help the community source skills and funding.</li>
            <li>Establish a governance framework that facilitates communications, consensus-building, decision-making, project management, effort, and resource distribution.</li>
            <li>(Key Playbook Track: <%= link_to("Community Building", "community.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="use_cases"><b>Which use cases will the specialty work on first?</b>
          <ul>
            <li>Desconstruct needs to prioritize efforts into manageable segments to minimize initial use case complexity.</li>
            <li>Each use case includes a scoped health IT or process challenge that (a) defines, validates, and/or motivates improvements to underlying workflows, data requirements, and data standards, (b) attracts more needed participants and skillsets into the community, and (c) motivates demand, adoption, and value. Ideally, software collects and shares data using the same standard which can expand with and support multiple use cases.</li>
            <li><%= link_to("CodeX Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> typically start with easier (not easy) problems and solutions around which stakeholders can align and demostrate value for the community quickly.</li>
<li>New specialties may find parallels in the <%= link_to("CodeX Oncology Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %>, providing a jump start for the speciality community use case development. </li> 
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="adoption"><b>What's the strategy for adoption of standards-based solutions?</b>
          <ul>
            <li>Each use case needs a pragmatic vision for how the specialty community will adopt resulting solutions into their software ecosystems and improve care and/or reduce burden.</li>
            <li>Community engagement of future users has proven invaluable in Codex. Data users, whether customers or government agencies can encourage vendors to implement community proven software solutions.</li>
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Adoption & Value", "adoption.html") %>)</li>
          </ul>
        </li>
        <br>            
        <li id="resources"><b>Are the necessary resources available to start the first use case(s) and deliver success?</b>
          <ul>
            <li>Launching use cases and demonstrating solutions require specific types of organizations, champions, skillsets, and often financing – at the right times.</li>
            <li>Resource needs are often less clear at the start but become increasingly clear as work if planned and accelerated.</li>
            <li>Use case scope and timelines can be scaled to available resources and still be successful. </li>
            <li>In CodeX, rapid, promising use case results - generally from the early phases of a use case - helped attract and justify the involvement of new organizations, gather the needed skillsets, and secure funding.</li>
            <li>(Key Playbook Tracks: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
          </ul>
        </li>
      </ul>
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Introduction", "index.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Design Principles", "design_principles.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

  </div>
</div>
</div>
