---
title: Getting Started
pagetitle: Getting Started
theme: playbook
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
        <h1>Getting Started:</h1>
        <h2>Questions to Consider Before Launching a Substantial, New Specialty Initiative</h2>

    
    <p>MITRE has found that the following are the most important initial qustions that should be asked and largely answered before starting a data standards, implementation, and deployment initiative within a new specialty. These questions purposely do not have a one-to-one corresponse with the tracks covered in subsequent sections of the Playbook. However, these are specific questions related to one more more tracks that must be addressed before or very early in the process of starting such a major project.  More details on each question can be found in other parts of the Playbook and Case Studies.</p>
    <ul class="action-list">
<br>    
     <li><b>Who are the community champions that will drive success?</b>
        <ul>
          <li>Champions are the most important key to the steps below and elsewhere in the Playbook.</li> 
          <li>Champions understand needs, reach large constituencies, and mobilize resources.</li>
          <li>Leading medical professional societies and Government organizations have been the successful CodeX Champions.</li>
          <li>Must commit to the approach, to leading a project that grows in complexity and participation, and to helping to find skills and funding.</li>
<li>(Key section: <%= link_to("Community Building", "community.html") %>)</li>
        </ul>
     </li>
<br>            
      <li><b>Do Champions and other leading organizations agree on a Governance framework?</b>
        <ul>
          <li>Good Governance facilitates communications, decision making, project management, and resource distribution.</li>
          <li>Must be lightweight, with focus on providing infrastructure, starting use cases, adjudicating concerns, and applying funding to projects (sparingly).</li>
          <li>The CodeX HL7 FHIR Accelerator serves this purpose for Use Cases around cancer (mCODE standard), cardiovascular disease, and genomics, so far. Other governance schemes are possible but would require more effort to startup and engage across specialties.</li>
<li>(Key sections: <%= link_to("Community Building", "community.html") %>, <%= link_to("Case Studies", "/casestudies/mcode_codex.html") %>)</li>
        </ul>
      </li>
<br>            
      <li><b>What Use Cases will be the first projects?</b>
        <ul>
          <li>Use Cases help prioritize effort into manageable segments that attract key Champions and critical community members.</li>
          <li>Each Use Case includes a specific health IT or process challenge that (a) attracts more participants into the community, (b) defines, validates, and/or motivates improvements to underlying workflows and standards, and (c) motivates demand, adoption, and value. Data are collected and shared using the same standard for multiple use cases.</li>
          <li>Initial CodeX Use Cases often start with “lower-bar” problems around which many stakeholders can align (2b). Use Cases can grow in scope over time.</li>
<li>(Key section: <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
        </ul>
      </li>
<br>            
      <li><b>What is your plan for adoption and, ultimately, providing value in the health ecosystem?</b>
        <ul>
          <li>Each Use Case needs a pragmatic approach that envisions how the resulting solution will improve care and/or reduce burden.</li>
          <li>Engagement of future users who require (e.g., gov’t agencies) and/or demand (e.g., customers) vendors to implement solutions has proved invaluable in CodeX.</li>
<li>(Key sections: <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Adoption & Value", "adoption.html") %>)</li>
        </ul>
      </li>
<br>            
      <li><b>Do you have the resources need to start the Use Case and deliver success?</b>
        <ul>
          <li>Starting Use Cases and demonstrating solutions require specific types of organizations, skillsets, and often financing – at the right times.</li>
          <li>Resource requirements are typically less clear at the start but become clearer as work evolves.</li>
          <li>Use Case scope and timelines can be scaled to available resources and still be successful.</li>
          <li>Initial, rapid, promising Use Case results help attract and justify involvement of organizations, gathering the needed skillsets, and securing funding.</li>
<li>(Key sections: <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>)</li>
        </ul>
      </li>
    </ul>
    <div class="playbook-bottom-navigation">
      <div class="previous"><%= link_to("Prev: Introduction", "index.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      <div class="next"><%= link_to("Next: Design Principles", "design_principles.html", :class=>"btn btn-outline-primary btn-lg") %></div>
    </div>

  </div>
</div>
</div>