---
title: Playbook
pagetitle: Playbook
theme: playbook
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Welcome to the Playbook!</h1>
      <p>Lessons for medical specialties from MITRE's experience within the <%= link_to("CodeX Community","https://confluence.hl7.org/display/COD/CodeX+Home") %> and elsewhere to pioneer the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %> data standard, applying mCODE to solve real-world problems, and speeding adoption and value to patients.</p>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <%= partial "partials/playbook_menu" %>
  </div>

  <div class="col-md-9">
    <h2>High-level Summary</h2>
    <p class="lead">The CodeX HL7 FHIR Accelerator Community has gathered substantial experience in a developing global data standard for cancer care – the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %>. CodeX has also gained experience deploying and demonstrating the value of mCODE for solving specific problems faced by cancer patients and others stakeholders. These outcomes and the experience are shared on this site to help other specialties leverage what’s been learned. If specialties could follow the CodeX approach in a collaborative way, this could help ensure that the sum of standards created across multiple specialties enables every person to have a coherent, lifetime Standard Health Record that improves health care and research for all.
    <%# 
      <blockquote class="blockquote">
      "Ea eos essent ornatus percipit, mea an persecuti pertinacia, te suas semper per. Et qui debet veritus, ei qui utroque luptatum sadipscing." - <span class="attrib">Some Person, OrganizationName</span>
      </blockquote>
    %>
    
    <h3>Our Approach</h3>
    <p>The approach that has emerged from the CodeX Community can be summarized along five tracks that typically overlap in time and evolve with experience:</p>
    <p><%= image_tag '5_steps.png', :width => '100%', :class => 'py-5' %></p>

    <ol class="section-list">
      <li><%= link_to("Community", "community.html") %>, including committed leadership with a broad reach; a fair and sustainable governance framework; and a growing group of diverse participants and skillsets. Certain organizations and skills are typically needed only at certain points in the work. </li>
      <li><%= link_to("Planning & Use Cases", "planning_use_cases.html") %>, including prioritizing Use Cases (specific challenges, proposed new work and data flows); organizing and scheduling work right through to adoption and measuring value; and securing the resources (organizations, people/skills) needed to succeed. Specific Use Cases attract specific subsets of each specialty.</li>
      <li><%= link_to("Standards", "standards.html") %>, based on compiling clinical experts’ requirements to address Use Cases; incorporating these into HL7 Fast Healthcare Interoperability Resources Implementation Guides (FHIR IGs) – increasingly demanded and required for data exchange) – based on a set of design principles considered during the development of mCODE;  and standardizing, updating (based on experience), and maintaining the FHIR IGs within Health Level Seven (HL7).</li>
      <li><%= link_to("Implementation", "implementation.html") %> of the FHIR IG(s) into systems (generally commercial) and workflows; Testing  of systems and workflows - within the types organizations ultimately planned to host, use, and benefit from the work; and use feedback from testing to update Planning and Standards work, and to eventually demonstrate potential value of the work. These demonstrations often attract additional participants to the Community.</li>
      <li><%= link_to("Adoption & Value", "adoption.html") %> in the real world is best driven by understanding at the Planning track what factors will move the market – including user demands, Government mandates, quality standards, and hopefully the promise of improved care and research during testing. It’s critical to Measure such improvements in the real world, to see where changes could make solutions even better (quality, cost, time) and help other participants engage.</li>
    </ol>
    
    <h2 class="pt-3">Five Key, Initial Actions Before Starting New Specialty Work</h2>
    
    
    <p>This site also provides a Getting Started set of the five most important considerations, from the CodeX/mCODE experience, for those potentially getting ready to start work on a new specialty.</p>
    <ol class="action-list">
      <li>Strong Community Champions Drive Success
        <ul>
          <li>Champions are the most important key to the steps below. Champions understand needs, reach large constituencies, and mobilize resources.</li>
          <li>Leading medical professional societies and Government organizations have been the successful CodeX Champions.</li>
          <li>Must commit to the approach, to leading a project that grows in complexity and participation, and to helping to find skills and funding.</li>
        </ul>
      </li>
        
      <li>Effective Governance facilitates communications, decision making, project management, resource distribution
        <ul>
          <li>Must be lightweight, with focus on providing infrastructure, starting use cases, adjudicating concerns, and applying funding to projects (sparingly).</li>
          <li>The CodeX HL7 FHIR Accelerator serves this purpose for Use Cases around cancer (mCODE standard), cardiovascular disease, and genomics, so far. Other governance schemes are possible but would require more effort to startup and engage across specialties.</li>
        </ul>
      </li>
        
      <li>Use Cases help prioritize effort into manageable segments
        <ul>
          <li>Each Use Case includes a specific health IT or process challenge that (a) attracts more participants into the community, (b) defines, validates, and/or motivates improvements to underlying workflows and standards, and (c) motivates demand, adoption, and value. Data are collected and shared using the same standard for multiple use cases.</li>
          <li>Initial CodeX Use Cases often start with “lower-bar” problems around which many stakeholders can align (2b). Use Cases can grow in scope over time.</li>
        </ul>
      </li>
        
      <li>Plan for Adoption & Value from the start
        <ul>
          <li>Each Use Case needs a pragmatic approach that envisions how the resulting solution will improve care and/or reduce burden.</li>
          <li>Engagement of future users who require (e.g., gov’t agencies) and/or demand (e.g., customers) vendors to implement solutions has proved invaluable in CodeX.</li>
        </ul>
      </li>
        
      <li>Resources Fuel Execution
        <ul>
          <li>Starting Use Cases and demonstrating solutions require specific types of organizations, skillsets, and often financing – at the right times.</li>
          <li>Resource requirements are typically less clear at the start but become clearer as work evolves.</li>
          <li>Use Case scope and timelines can be scaled to available resources and still be successful.</li>
          <li>Initial, rapid, promising Use Case results help attract and justify involvement of organizations, gathering the needed skillsets, and securing funding.</li>
        </ul>
      </li>
    </ol>


    <div class="playbook-bottom-navigation">
      <div class="previous inactive"></div>
      <div class="next"><a href="introduction.html">Next: Introduction<i class="bi bi-arrow-right-short"></i></a></div>
    </div>
  </div>
</div>

</div>
