---
title: Playbook
pagetitle: Playbook
theme: playbook
directory_index: false
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
      <h1>Introduction</h1>
      <p class="lead">The MITRE Interoperability Playbook aims to be a useful set of steps to help future health specialties to succeed in creating and adopting standard health data elements for their domain.</p>


      <h2 id="motivation">Why?</h2>
      <p>Why is the Playbook being created and shared now? Increasing adoption of <%= link_to("CodeX Use Case","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> workflows based on the <%= link_to("mCODE","https://confluence.hl7.org/display/COD/mCODE") %> FHIR standard has led many additional medical specialties to ask questions such as:</p>
<ul>
<li>What are CodeX and mCODE?</li>
<li>What impact are CodeX and mCODE having to enable data interoperability and solve real health challenges?</li>
<li>What was your approach, and its rationale?</li>
<li>How could my specialty replicate the CodeX/mCODE success, while moving faster and ensuring consistency across specialties?</li> 
</ul>
<p?These questions are some of the motivations that led MITRE to share it's experience in CodeX, mCODE, and other FHIR-based standards initiatives.</p>
      <p>Also, the time is right for other specialties to create FHIR-based standards to address challenges.</p>
<p>Patients, providers, payer, researchers and others are realizing the need for standards that provide semantic interoperability. Recent Government rules and regulations are driving a common underpinning – like <%= link_to("USCDI","https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi") %>, <%= link_to("FHIR","https://www.hl7.org/fhir/overview.html") %>, <%= link_to("US Core","https://www.hl7.org/fhir/us/core/") %>, <%= link_to("TEFCA","https://www.healthit.gov/topic/interoperability/policy/trusted-exchange-framework-and-common-agreement-tefca") %> - for future specialty standards. Vendors are working to meet customer demands and Government direction, delivering products increasingly based on standards. There is a long road ahead. However, formerly disparate elements are converging. CodeX and mCODE are already leveraging these underpinnings. </p>
      
      <h2 id="intended_audience">Who?</h2>
      <p>The intended audience for the Playbook is a range of organizations and people interested in creating and leveraging specialty health data standards to addres real-world challenges. The site should help specialty leaders considering replicating the model pioneered by the CodeX for their domain and/or working more closely with CodeX and other specialties to speed work and increase coherency. Parts of the site may be particularly useful to particular stakeholders (e.g., patient organizations, specialty societies, government agencies, payers, vendors, etc.) and particular roles (e.g., decision makers, project managers, clinical experts, informaticists, system engineers, etc.) involved in just a subset of the spectrum of all future work. </p>
  
      <h2 id="organization">How?</h2>
      <p>The core of this site is organized around five related work tracks - <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Standards Development", "standards.html") %>, <%= link_to("Implementation & Testing", "implementation.html") %>, and <%= link_to("Adoption & Value", "adoption.html") %> - that have proven to be an effective framework for and facilitator of CodeX work.</p>
      <p>Also provided are <%= link_to("Case Studies", "/casestudies/index.html") %> with the history of activities, outcomes, and implications that may be useful for new specialties.</p>
  
      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Getting Started", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
    </div>
  </div>
</div>
