---
title: Playbook
pagetitle: Playbook Introduction
theme: playbook
section: Playbook
directory_index: false
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h1>Introduction & Playbook Tracks</h1>
      <p class="lead">The MITRE Health Data Interoperability Playbook aims to help health communities create FHIR-based data standards that provide substantial improvements to patient care and research -- within individual specialties and across all specialties.</p>


      <h2 id="motivation">Why?</h2>
      <p>"Why" is the Playbook being created and shared now? Three primary reasons:</p>
      <p>First, data interoperability remains a serious impediment to better and more affordable health care. Multiple recent studies demonstrate interoperability-driven impediments including: 
        <ul>
          <li><%= link_to("Average treatment delays of a month", "https://ascopubs.org/doi/10.1200/JCO.2023.41.16_suppl.6561") %> which can result from prior authorizations data sharing breakdowns.</li> 
          <li>It takes an average of <%= link_to("17 years for research to reach clinical practice", "https://jamanetwork.com/journals/jama/article-abstract/2803716") %>.</li>
          <li>It can take <%= link_to("3 years for public health data to be aggregated", "https://www.cdc.gov/national-program-cancer-registries/data-modernization/index.html") %> and available for broader use. </li> 
          <li>Nearly <%= link_to("$1 trillion per year for healthcare administrative costs", "https://jamanetwork.com/journals/jama/fullarticle/2785480") %>, which could be reduced with more efficient, standardized data exchange.</li>  
        </ul>
      </p>
      <p>Second, formerly disparate elements are converging to make this a prime time for other specialties to create FHIR-based data standards to address challenges.
      Patients, providers, payers, researchers, and others are realizing the need for standards that provide semantic interoperability. Recent government rules and regulations are driving standards-based approaches upon which specialty communities can build. Vendors are working to meet customer demands and government direction, delivering products increasingly based on standards. CodeX and mCODE have leveraged these underpinnings from the start. </p>
      
      <p> The third reason to share this Playbook is that MITRE has had a primary role in creating and building a Community within the <%= link_to("CodeX HL7 FHIR Accelerator", "https://confluence.hl7.org/display/COD/CodeX+Home") %>, building applications using the <%= link_to("mCODE cancer data standard","https://confluence.hl7.org/display/COD/mCODE") %>, and the accelerating adoption of <%= link_to("CodeX's mCODE-based use cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> to address interoperability challenges in the oncology space. This success has led leaders in the cardiovascular and genomics domains to start work in CodeX. It has also led many additional medical specialties to ask MITRE's experts questions such as:</p>
      <ul>
        <li>What are CodeX and mCODE?</li>
        <li>What impact are CodeX and mCODE making to enable data interoperability and solve real health challenges?</li>
        <li>What was your approach, and its rationale?</li>
        <li>How could my specialty replicate the impacts realized by CodeX and mCODE, and perhaps move even faster?</li> 
      </ul>
      <p>These questions are just some of the motivations that led MITRE to consolidate and share its experience in this Playbook.</p>
      <p>There are approaches in addition to MITRE's that may be useful to review. Whatever approach the community follows, the outcome must aim to be consistent with other specialties and in the best interest of all patients who typically need the services of multiple specialties during their lifetime. MITRE's <%= link_to("Playbook Tracks", "/playbook/index.html#organization") %> and <%= link_to("Design Principles", "design_principles.html") %> aim to ensure the necessary level of consistency and quality, and have a track record of success.</p> 
      
      <h2 id="intended_audience">Who?</h2>
      <p>"Who" is the intended audience for the Playbook? The Playbook will be valuable to a range of organizations and people interested in creating and leveraging specialty health data standards to address real-world challenges.</p>
      <p>The Playbook should be particularly helpful for specialty leaders exploring how to replicate the CodeX model for oncology within their own specialty. Specialty leaders may be motivated to work with CodeX and other specialties to speed work and increase coherency.</p>
      <p>Parts of the Playbook will be useful to particular stakeholders (e.g., patient organizations, health systems, specialty societies, government agencies, payers, vendors, etc.) and roles (e.g., decision makers, funders, project managers, community organizers, clinical experts, informaticists, standards developers, system engineers, communications personnel, etc.) involved in just a subset of the spectrum of all future work. The <%= link_to("Key Playbook Sections by Role", "/resources/roles.html") %> provided here aims to help guide people with leadership, clinical, or technical responsibilities to quickly find the most relevant information for them.</p>
      <p>
      To get the most out of the Playbook, it would be helpful for leaders to have at least a high-level knowledge of standards that are foundational in the Playbook:
        <ul>
          <li><a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a></li>
          <li><a href="https://hl7.org/fhir/summary.html">Fast Healthcare Interoperability Resources (FHIR)</a></li>
          <li><a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a></li>
          <li><a href="https://uscdiplus.healthit.gov/uscdi">USCDI+ (specialty supplements to USCDI)<a></li>
          <li><a href="https://www.aapc.com/resources/what-is-medical-coding">Health Information Coding Systems<a></li>
          <li><a href="https://www.himss.org/terminology-standards">Health Information Terminology Standards<a>
        </ul>
      Standards implementers should, of course, have a much deeper understanding of these foundations. </p>
  
      <h2 id="organization">How?</h2>
      <p>"How" is this Playbook organized? The Playbook is organized around the approach used by the CodeX community to drive development and value of standard FHIR Implementation Guides. This approach has five tracks that overlap in time, interact substantially, and have been improving with experience. The first graphic below is a simplified representation of the five tracks.  The second graphic shows a notional timeline of the overlapping and interacting tracks for a hypothetical use case.  In CodeX, the time from the start of the work to initial adoption of a use case solution has been on the order of 3 - 5 years.</p>
      <figure>
        <%= image_tag '5_steps.png', :width => '100%', :class => 'py-3', :alt=>"Flow diagram showing the five work tracks of the Playbook." %>
        <figcaption>Flow diagram of the five Playbook work tracks.</figcaption>
      </figure>
      <figure>
        <%= image_tag '5_steps_timeline.png', :width => '100%', :class => 'py-3', :alt=>"Timeline diagram of five key Playbook tracks." %>
        <figcaption>Waterfall diagram of a notional timeline for implementing the five Playbook tracks, showing that they are related and overlapping.</figcaption>
      </figure>
      
      <p>Here is a brief description of each Playbook track, with a link to the more detailed page for each:  
      <ol class="section-list">
        <li><%= link_to("Community Building", "community.html") %>: Community starts with leadership from committed "champions" who have broad reach, a grasp of key challenges and potential use cases, and the ability to grow the community with skilled and active participants. The community must establish a fair and sustainable governance framework to enable the community to grow, coordinate, and work toward its goals. </li>
        <li><%= link_to("Use Cases & Planning", "use_cases_planning.html") %>: The community must prioritize and define specific projects, each including the key challenge to be addressed, new work and data flows to be realized, and clinical information needed. Use case work must be organized and scheduled all the way through to adoption and measuring value. Resources (organizations, champions, people/skills) needed to succeed must be secured. Specific use cases attract additional subsets of each specialty to the community.</li>
        <li><%= link_to("Standards Development", "standards.html") %>: Standards development starts with compiling clinical experts’ minimal set of core information requirements for each use case. Clinical requirements are incorporated into HL7 Fast Healthcare Interoperability Resources (FHIR) Implementation Guides (IGs) based on a set of <%= link_to("Design Principles", "design_principles.html") %>, and standardized, updated, and maintained the within the Health Level Seven (HL7) standards organization.</li>
        <li><%= link_to("Implementation & Testing", "implementation.html") %>: Implementers must integrate FHIR IG(s) into systems and workflows. These standardized systems and workflows undergo increasingly ambitious tests, leading to pilots within the types of organizations that will ultimately benefit from the work. Feedback from testing is used to update Planning and Standards work. Testing serves to demonstrate the potential value of the work and often attracts additional participants to the community.</li>
        <li><%= link_to("Adoption & Value", "adoption.html") %>: To have value, standardized systems must be used widely in the real world. Getting to this point starts by understanding, during project Planning, which factors will move the market. Factors include user demand, government mandates, and the promise of improved care and research demonstrated during testing. It’s critical to measure such improvements in the real world, to see where updates could make solutions even better (quality, cost, time) and to motivate new users to adopt. Though not shown in the graphic, real world use will lead to additional feedback for any or all the other tracks.</li>
      </ol>
      <p>The above five tracks are explored in greater depth by following the links in the above list, and via the Playbook Menu found on all pages.</p>

      <p>Questions that a new specialty should ask themselves <b>before</b> embarking on the above tracks are covered on the <%= link_to("Before Starting", "/playbook/getting_started.html") %> page.</p>
      <p>A downloadable <%= link_to("Playbook Checklist", "/Files/Playbook-Checklist.docx") %> will be useful as a new specialty embarks on the work across Playbook tracks.</p> 

      <p>Also provided in the Playbook are <%= link_to("Design Principles", "/playbook/design_principles.html") %> that help drive efficient and consistent standards development work. These Principles, when used by different specialty initiatives, will also help ensure alignment between initiatives, within and across specialties.</p>

      <p><%= link_to("Case Studies", "/casestudies/index.html") %> show how real projects have leveraged the tracks, including the history of activities, outcomes, and lessons that may be useful for new specialties.</p>

      <p>Playbook sections recommended for people in particular roles, lower-level details on particular topics, and links and tools related to the tracks and Case Studies can be found on the <%= link_to("Resources", "/resources/index.html") %> page.</p>
  
      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Before Starting", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
    </div>
  </div>
</div>
