---
title: Playbook
pagetitle: Playbook
theme: playbook
directory_index: false
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
      <h1>Introduction</h1>
      <p class="lead">The MITRE Interoperability Playbook aims to be a useful set of steps to help future health specialties to succeed in creating and adopting standard health data elements for their domain.</p>


      <h2 id="motivation">Motivation for this Site</h2>
      <p>Increasing adoption of <%= link_to("CodeX Use Case","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> workflows based on the <%= link_to("mCODE","https://confluence.hl7.org/display/COD/mCODE") %> FHIT standard has led new specialties to ask questions such as:  What are CodeX and mCODE?  What impact are they having? How and why did you proceed the way you did? How could my specialty replicate your success or even collaborate?  These questions are some of the motivations that led to this site.</p>
      <p>Also, the time is right for other specialties to create FHIR-based standards to address challenges. Patients, providers, payer, researchers and others are realizing the need for standards that provide semantic interoperability. Recent Government rules and regulations are driving a common underpinning – like <%= link_to("USCDI","https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi") %>, <%= link_to("FHIR","https://www.hl7.org/fhir/overview.html") %>, <%= link_to("US Core","https://www.hl7.org/fhir/us/core/") %>, <%= link_to("TEFCA","https://www.healthit.gov/topic/interoperability/policy/trusted-exchange-framework-and-common-agreement-tefca") %> - for future specialty standards. Vendors are working to meet customer demands and Government direction, delivering products increasingly based on standards. There is a long road ahead. However, formerly disparate elements are converging.</p>
      
      <h2 id="intended_audience">Audience for this Site</h2>
      <p>This site is intended to be helpful for a range of organizations and people. The site should help specialty leaders considering replicating the model pioneered by the CodeX for their domain and/or working more closely with CodeX and other specialties to speed work and increase coherency. Parts of the site may be particularly useful to stakeholders (e.g., patient organizations, specialty societies, government agencies, payers, vendors, etc.) and roles (e.g., decision makers, project managers, clinical experts, informaticists, system engineers, etc.) involved in just a subset of the spectrum of all future work. </p>
  
      <h2 id="organization">Organization of this Site</h2>
      <p>The core of this site is organized around five related work tracks - <%= link_to("Community Building", "community.html") %>, <%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, <%= link_to("Standards Development", "standards.html") %>, <%= link_to("Implementation & Testing", "implementation.html") %>, and <%= link_to("Adoption & Value", "adoption.html") %> - that have proven to be an effective framework for and facilitator of CodeX work.</p>
<p>Also provided are <%= link_to("Case Studies", "/casestudies/index.html") %> with the history of activities, outcomes, and implications that may be useful for new specialties.</p>
  
      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Getting Started", "getting_started.html", :class=>"btn btn-primary btn-lg") %></div>
      </div>
    </div>
  </div>
</div>
