---
title: Playbook
pagetitle: Playbook
theme: playbook
directory_index: false
---
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div class="col-md-9">
      <h1>Introduction</h1>
      <p class="lead">The MITRE Interoperability Playbook aims to be a useful set of steps to help future health specialties to succeed in creating and adopting standard health data elements for their domain.</p>


      <h2 id="motivation">Why?</h2>
      <p>Why is the Playbook being created and shared now? Increasing adoption of <%= link_to("CodeX Use Case","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> workflows based on the <%= link_to("mCODE","https://confluence.hl7.org/display/COD/mCODE") %> FHIR standard has led many additional medical specialties to ask questions such as:</p>
<ul>
<li>What are CodeX and mCODE?</li>
<li>What impact are CodeX and mCODE having to enable data interoperability and solve real health challenges?</li>
<li>What was your approach, and its rationale?</li>
<li>How could my specialty replicate the CodeX/mCODE success, while moving faster and ensuring consistency across specialties?</li> 
</ul>
<p?These questions are some of the motivations that led MITRE to share it's experience in CodeX, mCODE, and other FHIR-based standards initiatives.</p>
      <p>Also, the time is right for other specialties to create FHIR-based standards to address challenges.</p>
<p>Patients, providers, payer, researchers and others are realizing the need for standards that provide semantic interoperability. Recent Government rules and regulations are driving a common underpinning – like <%= link_to("USCDI","https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi") %>, <%= link_to("FHIR","https://www.hl7.org/fhir/overview.html") %>, <%= link_to("US Core","https://www.hl7.org/fhir/us/core/") %>, <%= link_to("TEFCA","https://www.healthit.gov/topic/interoperability/policy/trusted-exchange-framework-and-common-agreement-tefca") %> - for future specialty standards. Vendors are working to meet customer demands and Government direction, delivering products increasingly based on standards. There is a long road ahead. However, formerly disparate elements are converging. CodeX and mCODE are already leveraging these underpinnings. </p>
      
      <h2 id="intended_audience">Who?</h2>
      <p>The intended audience for the Playbook is a range of organizations and people interested in creating and leveraging specialty health data standards to addres real-world challenges. The site will help specialty leaders considering replicating the model pioneered by the CodeX for their domain and/or working more closely with CodeX and other specialties to speed work and increase coherency. Parts of the site will be useful to particular stakeholders (e.g., patient organizations, health systems, specialty societies, government agencies, payers, vendors, etc.) and particular roles (e.g., decision makers, funders, project managers, community organizers, clinical experts, informaticists, standards developers, system engineers, communications personnel, etc.) involved in just a subset of the spectrum of all future work. </p>
  
      <h2 id="organization">How?</h2>
      <p>"How" this Playbook is organized is around "How" the CodeX Community works  -  This approach has five tracks that overlap in time, interact substantially, and improve with experience:</p>
      <p><%= image_tag '5_steps.png', :width => '100%', :class => 'py-5' %></p>
  
      <ol class="section-list">
        <li><%= link_to("Community Building", "community.html") %>, including a committed leadership that has a broad reach; a fair and sustainable governance framework; and a growing group of diverse participants and skillsets. Certain organizations and skills are typically needed only at certain points across the tracks. </li>
        <li><%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, including prioritizing Use Cases (specific challenges, proposed new work and data flows); organizing and scheduling work right through to adoption and measuring value; and securing the resources (organizations, people/skills) needed to succeed. Specific Use Cases attract specific subsets of each specialty.</li>
        <li><%= link_to("Standards Development", "standards.html") %>, based on compiling clinical experts’ information requirements within Use Cases; incorporating these requirements into HL7 Fast Healthcare Interoperability Resources Implementation Guides (FHIR IGs) based on a set of <%= link_to("Design Principles", "design_principles.html") %> that drove the development of mCODE; and standardizing, updating, and maintaining the FHIR IGs within the Health Level Seven (HL7) standards organization.</li>
        <li><%= link_to("Implementation & Testing", "implementation.html") %> Implementation of the FHIR IG(s) into systems and workflows; testing these systems and workflows within the types organizations ultimately planned to host, use, and benefit from the work; and feedback from testing to update Planning and Standards work. Testing serves to demonstrate the potential value of the work and often attracts additional participants to the Community.</li>
        <li><%= link_to("Adoption & Value", "adoption.html") %> in the real world is best driven by understanding at the Planning track what factors will move the market. Factors include user demand, Government mandates, and the promise of improved care and research demonstated during testing. It’s critical to Measure such improvements in the real world, to see where changes could make solutions even better (quality, cost, time) and motivate new participants engage.</li>
      </ol>
      <p>The five tracks are explored in greater depth by following the lists in the above list, and via the navigation on all pages. Also provided in this Playbook are <%= link_to("Case Studies", "/casestudies/index.html") %> based on the tracks, including the history of activities, outcomes, and implications that may be useful for new specialties. Details realted to the tracks and Case Studies can be found in the <%= link_to("Resources", "/resources/index.html") %> section.</p>
  
      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Getting Started", "getting_started.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
    </div>
  </div>
</div>
