---
title: Standards Development
pagetitle: Standards Development
theme: playbook

---

<div id="content" class="container pt-5" data-bs-spy="scroll" data-bs-target="#playbook_menu" data-bs-offset="0">

  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>  
    </div>
  
    <div class="col-md-9">
      <h1>Standards Development</h1>
      <h2>Health Data Standards provide the Common Language for Better Health</h2>
      <p class="lead">
        Health data standards help patients, health systems, payers, researchers and others who need to work together communicate using a common language. Health data standards can specify clearly how data are collected, stored, shared, and/or used such that every piece of data can be unambiguously understood by all entities within the health ecosystem. Widely-adopted standards enable semantic interoperability across people, systems, and processes.
      </p>
      <p>
        Standards are not the end product, from the perspective of this Playbook. However, standards are an essential component for accurate, electronic sharing of data needed to improve health care and access, and to reduce burden and costs.</p>
<p>
The best standards are demanded by product consumers; community-driven and developed within an open, royalty-free standards organization; often suggested or mandated by the Government; well documented; demonstrated to provide value; easy to implemented in systems and workflows; and adopted by and across the community.
      </p>
<h3>Overview Standards Development Video</h3>
<p>The following video by May Terry (key mCODE author) is a deep dive into the strategy and process employed to develop the mCODE FHIR IG standard for oncology. This strategy and approach should be applicable across health specialties. Select points from the video are summarized in text and graphics on the rest of this page.</p>

<div class="embed-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

<h3>Key Organizations and Standards</h3>
      <p>
        The <a href="https://www.healthit.gov/">Office of the National Coordinator for Health Information Technology (ONC)</a> is the “principal federal entity charged with coordination of nationwide efforts to implement and use the most advanced health information technology and the electronic exchange of health information”. ONC spearheads assembling community agreement on a “standardized set of health data classes and constituent data elements for nationwide, interoperable health information exchange”, called the <a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a>. 
      </p>
      <p>
        ONC has increasingly partnered with <a href="https://www.hl7.org/">Health Level Seven (HL7)</a>, the preeminent organization for gathering communities to develop standards that enable health data interoperability. Of the many important efforts within HL7, two are foundational for the work described in this Playbook: <a href="https://hl7.org/fhir/summary.html">Fast Healthcare Interoperability Resources (FHIR)</a> and <a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a>.  Both are further explained below.
      
      <h3>From Clinical Requirements to a FHIR IG</h3>
      <p>The following illustrates key steps in a process that have been found to be useful in developing a quality FHIR IG. This process is agile, with iterations and interactions between each step.</p>
      
      <p><%= image_tag 'fhir-ig-process.png', :width => '100%', :class => 'py-5', :alt => 'Diagram of FHIR IG process from clinical concept to HL7 standard'%></p>

      <br>
      <p>
        Next, the following topics that comprising the bulk of the Standards Development work are covered: (a) Clinical Requirements, (b) FHIR IG Development, and (c) HL7 Standardization.
      </p>
      <br>

      <h2 id="clinical_requirements">Clinical Information Requirements and Data Dictionary.</h2>
      <p>
        Each Use Case dictates the clinical information that must be collected and shared, and thus the data that will later go into new or updated FHIR IGs.
      </p>

      <p>The goal is for a group of clinical experts to work together to prioritize information requirements within a Data Dictionary needed for the Use Case. 
      </p>
      <p>This sub-step and subsequent steps are typically iterative.  For example, the clinical expert group may develop a first draft of the Data Dictionary. Subsequent steps often result in requests to the clinical experts for clarification or suggestions for updates to the Data Dictionary based on FHIR development, implementation, and testing.
</p>

<h3>Convening the Clinical Subject Matter Experts Group</h3>
<p>Consider gathering 5 – 20 well-respected, collaborative, subject matter experts (SMEs) representing the breadth of expertise needed to establish and execute the Use Case.  The group needs clear leadership (e.g., a Chair or co-Chairs) by experts who are respected, well-organized, and well-versed in the overall Use Case and plan. 
</p>
<p>
Consider engaging (depending on the Use Case) patients, doctors, nurses, technicians, researchers, clinical experts from vendors, and/or payers.  Some of the SMEs should be familiar with previous work done to define clinical data elements and data dictionaries and are able to help the group understand the applicability of prior efforts to the work at hand.
</p>
<p>
SMEs do not need to be expert in FHIR development, HL7 processes. The group should use familiar medical terms and define clinical needs. It’s been found beneficial to include an objective facilitator, with experience moderating discussion and aligning diverse views.
</p>
<p>
Various tools and techniques for aligning expert views regarding priorities for information needs have been used in mCODE and CodeX Use Cases. A modified Delphi method was employed to expand mCODE to better-cover pediatric cancers. This method builds group consensus on informatinn requirement based on expert judgement, literature review, and input from outdide stakeholders prioritize. Where consensus is not reached at first, the group can discuss discrepancies and make progress. Common tools for building consensus include Freemind, XMind, Coggle, whiteboarding, surveys, and spreadsheets. See below for how these methods work to build a Data Dictionary.
</p>

<p>It would be helpful for the facilitator, and/or additional participants have familiarity with FHIR and integration of FHIR IGs into systems and processes to lend those perspectives when needed. It would be helpful for someone to be familiar with work on related Use Case to minimize the potential for duplication of effort or divergent approaches to the same data concept.</p>
<p>
The group should agree on a charter for their work, including scope, timelines, decision processes, etc. A sample charter can be found here [NOTE: need link to an outside charter or include a template here]. 
</p>

<h3>Minimal vs. Comprehensive</h3>
<p>It’s been helpful to agree on how minimal vs. comprehensive the Data Dictionary should be. General principles in this regard could even be included in the charter, to ensure all participants are on the same page. CodeX work has focused on defining a minimal set of data elements for mCODE and each Use Case – covering the most common important cases, and not necessarily all edge cases. Keeping it minimal helps speed the development work and improve odd of achieving deliverables. The comprehensiveness of the Dictionary could be expanded or supplemented in the future.  
</p>

<h3>Defining the Data Dictionary</h3>
<p>A Data Dictionary is a conversion of the clinical information gathered, to logical model data elements.</p>

<p>The following table shows work-in-progress from an clinical expert group working to build a Data Dictionary for a Use Case to provide an initial assessment of a potential cancer patient. Methods and strategies like those noted above help the group get to this point. 
The table contains information needs (potential data elements), where the information could be extracted, references to prior work, and results of a survey of the experts regarding the “Relevance to Patients Like Mine” to help prioritize the minimal set of information needed.   
</p>

 
            <p class="alert alert-warning">Image is placeholder only - will replace with accessible table</p>
      <p><%= image_tag 'clinical-info-survey.png', :width => '80%', :class => 'py-5' %></p>


<p>Once information needs have been prioritized (even if preliminary), the group should consider which information (data elements) should be Required, Optional, or Must Support.  E.g.: </p>
<dl class="mx-4">
  <dt>Required</dt>
  <dd>Data is unusable or makes no sense if not present</dd>
  <dt>Optional</dt>
  <dd>Not always relevant and not needed for data to be usable</dd>
  <dt>Must Support</dt>
  <dd>Software is required to support this data element</dd>
</dl>


  <p>The group can now developed the Data Dictionary - a"Rosetta Stone" that defines data elements mapped to the clinical information requirements [NOTE: This figure needs more context and/or probably moved?]</p>
  <p><%= image_tag 'rosetta-stone-table.png', :width => '100%', :class => 'py-5' %></p>

<h3>Common Challenges Related to Compiling Clinical Information Requirements and a Data Dictionary</h3>
<ul>
  <li>Starting with a large set of “important” data needs/elements, rather than focusing on the needs for each prioritized Use Cases.</li>
  <li>Not thinking aobut how maximize the utility of information across other potential Use Cases.  For example, the group may be working on information needed for initial diagnosis of cancer, but could also think ahead about other potential uses of that same information and how slight changes to their initial requirements might make that same information for, say, clinical trials matching, conducting trials, etc. </li>
  <li>Asking for interpreted information rather than source data because that is established practice.  A trivial example would be asking for age, rather than collecting birth data and date/time of the encounter. </li>
<li> [NOTE: more to be added]

<p>These and other potential pitfalls can be largely avoided by following the <%= link_to("Design Principles", "/playbook/design_principles.html") %> compiled based on CodeX and mCODE experience, and available from a link on the left.</p>
</ul>

<h3>Clinical Review of the Data Dictionary</h3>
<ul>
  <li>Does the Data Dictionary address the goal and needs of the Use Cases?
</li>
<li>From a clinical perspective, will the new Data Dictionary be compatible with other, known or prospective data dictionaries with the specialty and outside of it?
</li>
</ul>

<hr>

  <h2 id="fhir_ig_development">Integrate Clinical Requirements into a Specialty FHIR Implementation Guide (IG).</h2>

<p>
Once the clinical subject matter expert group has at least a draft of their Data Dictionary for the Use Case, work can begin on incorporating the clinical information into one ore more FHIR Implementation Guides (IG).  
</p>


<p>
As noted before, the clinical expert group will can't simply throw their Dictionary over a transom to the FHIR developers.  The two groups will have frequent collaboration, working to ensure the clinical information needs are captured properly in the FHIR IG, that the FHIR IG is implementable in systems and processes, and that it is consistent with the <%= link_to("Design Principles", "/playbook/design_principles.html") %>.
</p>


<p>
The ideal FHIR IG development group includes data modelers, FHIR Implementation Guide developers, terminologists, system developers, and one or more clinical specialty SMEs to ensure the translation of the clinical Data Dictionary into FHIR properly integrations all important information. The group needs clear leadership of the group (e.g., a Chair or co-Chairs), who are respected, well-organized, and well-versed in the overall Use Case plan.
</p>

<h3>Framework for FHIR Implementation Guide Development</h3>
<ul>
  <li>FHIR Tutorials [NOTE: Please recommend and provide links to 2-3 useful tutorials]</li>
  <li><%= link_to('Fast Healthcare Interoperability Resources (FHIR)', 'https://hl7.org/fhir/summary.html') %> is the health data sharing framework widely used now and is being mandated for certain applications through ONC.</li>
  <li><%= link_to('US Core FHIR Implementation Guide','https://www.hl7.org/fhir/us/core/') %> (IG) essentially encapsulates into the FHIR framework the data classes and data elements being defined through US Government coordination, and will evolve as Government work evolve.</li>
  <li>Standard Terminology. (refs:  <%= link_to('HIMSS','https://www.himss.org/terminology-standards') %>, <%= link_to('CMS','https://mmshub.cms.gov/sites/default/files/Codes-Code-Systems-Value-Sets.pdf') %>) A terminology code system is a managed collection of structured terminologies (concepts like procedures, diagnoses, treatments, measurements, results, etc.) with the objective that there is one globally unique code (alpha-numeric, typically) to represent each concept. Code systems, terminologies, and vocabularies are not the same things, but are highly related and often used together or for the same idea. <%= link_to('SNOMED CT','https://www.snomed.org/use-snomed-ct') %>, <%= link_to('LOINC','https://loinc.org/') %>, <%= link_to('CPT','https://www.ama-assn.org/topics/cpt-codes') %>, and @@@ are examples of widely used code systems. The benefit of representing a concept with standard terminology in an IG (and elsewhere) is that the concept can be implemented (in FHIR or other standards) in health information systems and understood everywhere the concept is collected, stored, exchanged, and used.</li>
  </ul>
  
<p>The mCODE FHIR IG and other work in CodeX build on the above framework, including CodeX/mCODE <%= link_to("Design Principles", "/playbook/design_principles.html") %>.  This has many benefits, including helping to ensure (not guarantee) that products leveraging this framework are more likely to be consistent with other efforts. It’s not that simple, but close enough.  
</p>
<p>
Before going deeper into how a specialty FHIR IG can be built, consider the concept of a Standard Health Record (see figure below), a vision that would allow every person to have a lifetime health record in which their health data could be captured accurately and consistently across medical specialties.  Leveraging a common framework of US Core, standard terminologies, and the other Design Principles would enable individual specialties to develop their IGs relatively independently, and yet as consistently as possible. Some cross-specialty coordination would be helpful to maximize implementability and interoperability (filling gaps, avoiding duplication, etc.).
</p>

<p>The SHR vision could extend the CodeX/mCODE approach to help new specialties expand communities, and develop and test standards that are interoperable across specialties, and that drive adoption and value for patient health care and research.</p>
            <p class="alert alert-warning">Image is placeholder only - will replace with accessible image</p>
      <p><%= image_tag 'future-health-stack.png', :width => '100%', :class => 'py-2' %></p>


<h3>Data Model</h3>
<p>The first task of the FHIR IG development group is to review the output of the Clinical group’s Data Dictionary.  Generally, at least some of each group have been working together even before the first draft of the Dictionary has been completed. Questions between the groups will be common and essential to taking additional steps.
</p>
<p>The next step is to start development of a logical model from the Data Dictionary.  The following figure is a conceptual graphic of the mCODE data model (version 3 (STU 3), 2023.  Conceptual models are notional and loosely represent the actual FHIR model. However, there are benefits to such representations, including enabling clinical and other SMEs to more easily understand context and use of elements, and illustrating how data elements relate to each other.
</p>

      <figure>
      <%= image_tag("concept-model-diagram.png", :width=>"60%") %>
      <figcaption>Example conceptual modeling diagram for mCODE (2023) [NOTE: Higher resolution graphic will be included, if this graphic is used]</figcaption>
        </figure>
        
        
<h3>Terminologies</h3>
<p>As noted before, terminologies, standard clinical code systems, are important for unambiguously defining how data within the data element are represented.  When a term cannot be found within an existing code system, it’s possible to work with the owner of the code system to add new terms, provided the justification is convincing.</p>


<h3>Questions to Plan FHIR IG development</h3>
<ul>
<li>What are the possibly-related, external FHIR IG initiatives?
  <ul>
<li>Are there projects being driven by others in Government and/or industry that need to be reviewed, consulted, and/or partnered with?</li>
</ul>
</li>

<li>What FHIR resources and profiles best fit the data model? 
<ul>
	<li>What resources and profiles best match the required data elements in the data model?</li>
	<li>What resources and profiles result in the fewest FHIR extensions that are needed</li>
	<li>Leveraging the defined purpose of resources and profiles that match desired use in implementation guide</li>
	<li>What FHIR resources and profiles allow the necessary terminologies</li>
	<li>Selected FHIR resources and profiles do not require data elements that may not be present in an exchange</li>
</ul>
</li>

<li>What FHIR profiles are needed? Profiles are created when further specifications (extensions or constraints) are needed on a FHIR base resource or an existing dependent FHIR profile.
<ul>

	<li>What existing resources and profiles need to be further constrained?</li>
</ul>
</li>

<li>What FHIR extensions are needed? Extensions are created appropriate FHIR resource do not exist.
<ul>
	<li>What existing resources and profiles need to be extended to support required data elements in the data model?</li>
</ul>
</li>

	<li>What documentation is needed by senior managers and implementers to understand and effectively implementation?</li>

	<li>How will the data be accessed?
	<ul>
<li>What requirements are needed for data querying and access?</li>
</ul>
</li>

<li>Change management?
	<ul>
<li>What version control system will be used?</li>
</ul>
</li>
</ul>


<h2> Profiles and Extensions</h2>
<p>FHIR profiles customize the standard FHIR base Resource definitions by constraining which values and elements of a Resource are required and which are not for a particular context or Use Case. FHIR extensions add data elements and/or constraints the standard FHIR base Resource definitions to create more specific, customized resource definitions for a particular context or Use Case.</p>

<p>The following shows how mCODE derived profiles from the aforementioned framework of the US Core FHIR IG. The subsequent three figures illustrate how the mCODE conceptual model is represented in the FHIR IG for patient demographics, labs, and medications to match the clinical information needs as structured data. [NOTE: A better explanation and better/higher resolution graphics will be included]</p>
              <%= image_tag("profile-derivations.png", :width=>"100%") %>
              

<h3>Example: Patient Demographics</h3>              
<%= image_tag("cancer-patient-demo-model.png", :width=>"500") %>
<%= image_tag("mcode-fhir-resource-tables.png", :width=>"100%") %>


<h3>Example: Patient Demographics</h3>              
<%= image_tag("external-profile-mcode.png", :width=>"100%") %>

<ul>
<li>Relevant external profiles are added as an entry to the mCODE Patient Bundle profile.</li>
<li>Possible because mCODE’s bundle is “open” (only CancerPatient is a required entry)</li>
<li>
Guidance for inclusion is narrative (not computable or enforceable)</li>
</ul>

<h3>Validate Modeling Assumptions</h3>
<p>Next, create a comprehensive set of FHIR resources that capture the product of the previous steps, One approach to validating the work is to match it to representative Use Case personas.  The next figure illustrates how parts of a particular patient journey are mapped into data elements and FHIR. See other <%= link_to('mCODE examples, represented in the mCODE FHIR IG','https://hl7.org/fhir/us/mcode/examples.html') %>.</p>
 
<h4>A particular patient journey mapped into data elements and FHIR, to validate the model.</h4>

<p><%= image_tag("patient-journey.png") %></p>
<p><%= image_tag("fhir-instances-mcode.png") %></p>
<p><%= image_tag("example-bundle.png") %></p>

<h2>Creating the FHIR Implementation Guide</h2>

<p>Initial creation of a FHIR IG can start quite early and iterate as the model is improved. </p>

<p>FHIR Shorthand (FSH) is “a domain-specific language for defining FHIR artifacts involved in creation of FHIR Implementation Guides (IG). The goal of FSH is to allow Implementation Guide (IG) creators to more directly express their intent with fewer concerns about underlying FHIR mechanics, and efficiently produce high-quality FHIR IGs.”  FSH is an HL7 standard. FSH is increasingly used around the world, and probably on other planets.</p>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag 'fsh-logo.png', :width => '100%' %>
        </div>
        <div class="col-md-8">
          <p>
            FHIR Shorthand (FSH) is an author-friendly language for defining the contents of FHIR Implementation Guides
          </p>
        </div>
      </div>
<p>There are many excellent tutorial on how to leverage FSH to create FHIR IG (e.g., <%= link_to('Mark Kramer - Learn to FSH: A friendly introduction to FHIR Shorthand | DevDays 2023 Amsterdam','https://www.youtube.com/watch?v=tmtEnjxrCDA)') %>, <%= link_to('PDF version','https://www.devdays.com/wp-content/uploads/2021/12/DD21US_20210608_Mark_Kramer_Create_an_Implementation_Guide_with_FHIR_Shorthand_.pdf') %>)</p>

<h2 id="hl7_standardization">Standardize the FHIR IGs through HL7</h2>
<p><%= link_to('Health Level Seven (HL7)','https://www.hl7.org/') %> is the preeminent organization for gathering communities to develop standards that enable health data interoperability. The US and other nations increasingly look to HL7 as the place for health standards development. Agreeing on the FHIR IG to be standardized, and for moving the IG through the HL7 process can take many months – on the order of a year from start to publication of a standard.  Time required depends on level of alignment of IG authors, but also on the familiarity of standards process leader for this initiative are familiar with HL7 processes and people.  Make sure to include sufficient time in the Use Case plan, and start the standardization process early (well before a draft FHIR IG is relatively complete).</p>
<p>Here are resources that are important to understand:</p>
<ul>
<li><%= link_to('HL7 Essentials','https://confluence.hl7.org/display/HE/HL7+Essentials') %>. Index to information on HL7, HL7 processes and other information that is relevant to anyone planning to work or working in HL7.</li>
<li>
<%= link_to('Understanding the Standards Process','https://confluence.hl7.org/display/HL7/Understanding+the+Standards+Process') %>.  Explaining  what HL7 does, why they have the processes they have, and how to maximize the benefits of using the HL7 process.</li>
<li>
<%= link_to('FHIR Implementation Guide Process Flow','https://confluence.hl7.org/display/FHIR/FHIR+Implementation+Guide+Process+Flow') %>. When creating an IG that is intended to be published under the HL7 infrastructure, there are a number of steps to go through over many months.  A representation of the timeline from May 2024 is shown below, and is subject to change.<br>
          <%= image_tag 'fhir-ig-process-flow.png', :width => '50%' %>
          <li>
<li><%= link_to('HL7 Process Flow and Timeline','https://confluence.hl7.org/pages/viewpage.action?pageId=111117149') %>. This link is helpful in that steps in the HL7 process have further links to details.  A static representation of the steps from May 2024 is shown below, and is subject to change.<br>
  <%= image_tag 'hl7-process-flow.png', :width => '50%' %>
  </li>
  </ul>
  
<h3>Maintaining HL7 Standards</h3>
<p>Once the first version of a specialty standards (Standard for Trial Use or STU) has been completed and published, work begins on maintaining the standard over time. Any standard that is valued, implemented into systems, used widely will generate requests for updated versions.</p>
<p>Updates to speciality standardards maybe needed for a variety of reasons. The  standards on which your standard depend (e.g., FHIR) may be updated, and may or may not require or at least motivate changes to standards that depend on them. Users may ask vendors who've integrated your standard or the vendors themselves may ask for updates. Governement rules and regulations may motivate changes.</p>
<p>Because changes to your standard may be required over time, it's important to keep a core of the original standards team intact (and add to that core), with the necessary skills (e.g., clinical, FHIR, HL7) availble when needed. It's important to keep a good relationship with the sponsoring Work Group. It's necessary to have a system to collect, organize, prioritize, and address requests for changes and other comments - likely the same system used for building the original standard (e.g, Jira at HL7).</p>
<p>Be aware that the interest of the original team, and even of the Use Case Champions, may change as the work enters maintenance. As repeatedly emphasized in this Playbook, think about which members of the Community care most about ensuring a standard is maintained in a well-governed, careful manner. For example, vendors who've implemented the standard and provided it to many customers typically care about maintenance.</p>
<p> ... etc.</p>

<h3>Best Practices for Smoother HL7 Standardization,Based on the CodeX/mCODE Experience</h3>
<ul>
<li>The standards process leader for the Use Case should have thorough knowledge of HL7 processes and standardization schedule.</li>
<li>Build HL7 standardization into your Use Case plan from the start.  Allow plenty of time to go through the process.</li>
<li>Have a good relationship with a sponsoring HL7 Work Group and its leadership. Ensure they are included in plans and progress, and respect that your IG is usually not the only IG the Work Group is reponsible for. They likely won't have deep expertise in your health specialty (though, it's possible they do.  However, they will know HL7 standards (including FHIR), HL7 processes, and work that other Work Groups are doing that may related to your work.
<li>Conducting the Use Case project within (or near) an HL7 FHIR Accelerator (CodeX or other) has the benefit of working within an organization that will be more knowledgeable of and more closely connected to HL7 people and processes.</li>
<li>[NOTE:  Add more best practices].</li>
</ul>
    

    <div class="playbook-bottom-navigation">
        <div class="previous">  <%= link_to("Prev: Use Cases & Planning", "use_cases_planning.html", :class=>"btn btn-outline-primary btn-lg") %></div>
        <div class="next"><%= link_to("Next: Implementation & Testing", "implementation.html", :class=>"btn btn-outline-primary btn-lg") %></div>
      </div>
    </div>
  </div>
</div>
