---
title: About the Playbook
pagetitle: About the Playbook
theme: playbook
section: Playbook
---

<div id="content" class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/playbook_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <div class="col-md-8 offset-md-2">
        <h1>About the Playbook</h1>
        <h2 class="h5">Better Data.  Better Health.</h2>
      
        <p>
          The purpose of this Playbook is to capture the learnings of the <%= link_to("MITRE","https://www.mitre.org") %> team as they, with the cooperation of a growing community, launched the <%=link_to("CodeX HL7 FHIR Accelerator", "https://confluence.hl7.org/display/COD/CodeX+Home") %>, led development of the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %> and other FHIR Implementation Guides, and deployed FHIR-based solutions to help patients, providers, and others in the real world. It is hoped that MITRE's experience can provide a recipe to successfully launch and implement new healthcare specialty interoperability initiatives.
        </p>
        <p>
          For more comments and questions, please email: <a href="mailto:mcode@mitre.org">mcode@mitre.org</a>
        </p>
        <div class="about-author">
        <h3 class="h5">Organization</h3>
        <h4><%= link_to("The MITRE Corporation","https://www.mitre.org") %></h4>
        <p>MITRE was established to advance national security in new ways and serve the public interest as an independent adviser. MITRE continues to deliver on that promise every day, applying our systems-thinking approach to provide solutions that enhance our national security and way of life. Our non-profit status sets us apart. Motivated by impact, our people discover new possibilities, create unexpected opportunities, and lead as pioneers for the public good.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>    
