---
title: About the Playbook
---

<div class="container pt-5">
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>About the Playbook</h1>
    <h2 class="h5">Better Data.  Better Health.  Rinse and Repeat.</h2>
    <p class="lead"><b>CodeX</b> is a <%= link_to("Member-driven","https://confluence.hl7.org/display/COD/CodeX+Membership") %> HL7 FHIR Accelerator hosting a <b>growing community</b> working together to enable FHIR-based <b>interoperability</b> that drives <b>substantial improvements</b> around the most important challenges and opportunities in patient health.</p>
    <p>In the <%= link_to("Oncology","https://confluence.hl7.org/display/COD/Oncology") %> space, <%= link_to("CodeX Members","https://confluence.hl7.org/display/COD/CodeX+Membership" ) %> are achieving interoperability by integrating and testing the <%= link_to("mCODE (minimal Common Oncology Data Elements) FHIR Implementation Guide","https://confluence.hl7.org/display/COD/mCODE") %> -- an open standard language for cancer data -- within <%= link_to("Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases") %> that test new workflows supporting better cancer care and research.</p>
    <p>
    CodeX is leveraging the CodeX/mCODE experience, building vibrant communities and solving real-world challenges in new domains, such as <%= link_to("Cardiovascular","https://confluence.hl7.org/display/COD/Cardiovascular") %> and <%= link_to("Genomics","https://confluence.hl7.org/display/COD/Genomics") %>.</p>
    
<p>
   The purpose of this Playbook is to capture the learnings of the CodeX team as they developed mCODE and other FHIR-based efforts – what worked well and what did not – and to provide a recipe to successfully launch and implement new healthcare interoperability initiatives.</p>
   <p>
The Playbook begins with an Executive Summary as to why healthcare interoperability and new domain initiatives are important and how the recipes in the Playbook are important ways to help ensure success.  </p>
<p>Building a community around the new healthcare interoperability domain is critical and the Playbook provides time-tested strategies to help build new communities that are successful.  Roles within the community that are critical to drive initiatives forward are defined highlighting the different skills sets that are needed and how these roles interact throughout the development process.</p>
<p>There are several steps to develop and gain adoption of a new healthcare interoperability standard and the Playbook walks through each of those steps, providing best practices that have found to be successful.  Additionally, the Playbook provides some of the necessary background knowledge, either directly or by referencing other selected resources, to help a new team and community gain the skills needed for success.</p>
<p>It is amazing and gratifying to see a new initiative take off, gain enthusiasm, and be adopted to make a real difference towards better data, better health, greater efficiency, reduced burden and cost.  The Playbook seeks to help make this a scalable process and share knowledge gained to a new group of champions that can take healthcare data interoperability to the next level.  Buckle up and let’s ride!
</p>

    

  <div class="about-author">
  <h3 class="h5">Organization</h3>
    <h4>MITRE Corporation</h4>
    <p>Te aliquam noluisse epicuri detracto indoctum, et fierent pericula vim, veniam epicuri an eum.  Facilisis volutpat est velit egestas dui id. Consectetur adipiscing elit duis tristique sollicitudin.</p>
  </div>
</div>

</div>
  </div>    
