---
title: Resources
theme: resources
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Resources</h1>
      <p>This page contains links to websites, presenttions, videos, files, code, and other resources referenced in the Playbook.</p>

<h2>Playbook Tracks</h2>
<h3><%= link_to("Community Building", "/playbook/community.html") %></h3>
<h3><%= link_to("Use Cases & Planning", "/playbook/use_cases_planning.html") %></h3>
<h3><%= link_to("Standards Development", "/playbook/standards.html") %></h3>
<h3><%= link_to("Implementation & Testing", "/playbook/implementation.html") %><h3>
<h3><%= link_to("Adoption & Value", "/playbook/adoption.html") %><h3> 
<br>
<h2><%= link_to("Case Studies", "/casestudies/index.html") %></h2>
<h3>mCODE Standard and CodeX Community</h3>
<h3>CodeX Radiation Therapy Treatment Data Use Case</h3>
<h3>PACIO</h3>
    </div>
  </div>


</div>
