---
title: Resources
pagetitle: Resources
theme: resources
section: 
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Resources</h1>
      <p>On this Resource page, you'll find the MITRE Health Data Interoperability Playbook sections recommended for people in particular roles, lower-level details on particular topics, and links related to the tools, tracks, and Case Studies.</p>
    </div>
  </div>
  <div id="content">
    <h2>Explore</h2>   
    <div class="resource-section-container">
        <div class="resource-section">
          <h3>By Role</h3>
          <p>The most important Playbook sections recommended for particular roles on a standards-focused project team.</p>
          <%= link_to("Playbook Content for Particular Roles", "roles.html") %>
        </div>
        <div class="resource-section">
          <h3>Technical Deep Dives</h3>
          <p>Lower-level technical details the Playbook tracks for clinical subject matter experts, standards developers, and systems implementers.</p>
          <%= link_to("Standards Development Technical Deep Dive", "tech-standards.html") %>
          <p>Implementation & Testing Technical Deep Dive </p>
        </div>
        <div class="resource-section">
          <h3>Tools</h3>
          <p>Resources for new specialty standards initiatives can use for more efficient work [NOTE:  Add links when available].</p>
<p>Track Task Checklist (summary of most important steps across the five Tracks</p>
<p>Community charter template</p>
<p>Role and resource planning speadsheet</p>
<p>Data Dictionary spreadsheet</p>
<p>SVG Tool(s) for creating interactive diagrams like the <%= link_to("mCODE conceptual data model diagram","https://hl7.org/fhir/us/mcode/") %></p> 
<p>- potential new tools from Eric re: implemenation and testing</p>

        </div>
    </div>
    
    <h2>Links to External Resources</h2>
      <div class="resource-list-container">
        <div class="resource-section">
          <h3>Key References: <%= link_to("Five Tracks", "/playbook/index.html#organization") %></h3>

          <section>
            <h4><%= link_to("Community Building", "/playbook/community.html") %></h4>
            <ul class="resource-list">
              <li><%= link_to("Questions to Address Before Getting Started","/playbook/getting_started.html") %></li>
              <li><%= link_to("CodeX HL7 FHIR Accelerator Community","https://confluence.hl7.org/display/COD/CodeX+Home") %></li>
              <li><%= link_to("CodeX HL7 Membership List","https://confluence.hl7.org/display/COD/CodeX+Membership")%> </li>
              <li><%= link_to("CodeX Membership Options","https://confluence.hl7.org/display/COD/CodeX+Membership+Options")%></li>
              <li><%= link_to("CodeX Governance","https://confluence.hl7.org/display/COD/Governance")%></li>
            </ul>
          </section>


         <section> 
            <h4><%= link_to("Use Cases & Planning", "/playbook/use_cases_planning.html") %></h4>
            <ul>
              <li><%= link_to("CodeX Use Case Development Guidelines","https://confluence.hl7.org/display/COD/Use+Case+Development+Guidelines")%></li>
              <li><%= link_to("CodeX Use Cases: Plans and Progress","https://confluence.hl7.org/display/COD/CodeX+Use+Cases")%></li>
            </ul>
        </section>

        <section>        
            <h4>Standards Development <br><%= link_to("Overview", "/playbook/standards.html") %> and <%= link_to("Technical Deep Dive", "/resources/tech-standards.html") %></h4>
            <ul class="resource-list">
              <li><%= link_to("CodeX Standards Design Principles","/playbook/design_principles.html") %></li>
	      <li><%= link_to("Video tutorial on the development of mCODE", "/resources/tech-standards.html#mcode_standards_tutorial") %> (May Terry, MITRE, Nov 2023, 2 hr 33 min)</li>
              <li><a href="https://www.healthit.gov/">Office of the National Coordinator for Health Information Technology (ONC)</a></li>
              <li><a href="https://www.hl7.org/">Health Level Seven (HL7)</a>
                <ul>
                  <li><%= link_to('HL7 Essentials','https://confluence.hl7.org/display/HE/HL7+Essentials') %> </li>
                  <li><%= link_to('Understanding the Standards Process','https://confluence.hl7.org/display/HL7/Understanding+the+Standards+Process') %></li>
                  <li><%= link_to('FHIR Implementation Guide Process Flow','https://confluence.hl7.org/display/FHIR/FHIR+Implementation+Guide+Process+Flow') %></li>  
                </ul>
              </li>              
              
              <li><a href="https://hl7.org/fhir/summary.html">Fast Healthcare Interoperability Resources (FHIR)</a></li>
              <li><a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a></li>
              <li><a href="https://uscdiplus.healthit.gov/uscdi">USCDI+ - specialty supplements to USCDI<a></li>
              <li><a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a></li>
              <li><a href="https://www.aapc.com/resources/what-is-medical-coding">Health Information Coding Systems<a></li>
              <li><a href="https://www.himss.org/terminology-standards">Health Information Terminology Standards<a>
              <li><%= link_to('FHIR Shorthand (FSH) - Language for creating FHIR IGs','https://hl7.org/fhir/uv/shorthand/') %>
                <ul>
                  <li><%= link_to('FSH School Tutorial', 'https://fshschool.org/') %></li>
                  <li><%= link_to("Learn to FSH: A friendly introduction to FHIR Shorthand (Video)","https://www.youtube.com/watch?v=tmtEnjxrCDA") %></li>
                </ul>
              </li>
              <li><a href="https://hl7.org/fhir/us/mcode/">minimal Common Oncology Data Elements (mCODE) FHIR Implementation Guide<a></li>
            </ul>
        </section>
        <section>
            <h4><%= link_to("Implementation & Testing", "/playbook/implementation.html") %></h4>
              <ul class="resource-list">
              <li><a href="https://confluence.hl7.org/display/COD/Phase+1">CodeX Trial Matching Use Case Phase 1 pilot report</a>
              <li>More links coming soon</li>
              </ul>
        </section>
        <section>
            <h4><%= link_to("Adoption & Value", "/playbook/adoption.html") %></h4> 
              <ul class="resource-list">
                <li><%= link_to("Stakeholder-Specific Value Propositions", "/playbook/community.html#value_prop") %></li>
<li><%= link_to("White House Cancer Moonshot","https://www.whitehouse.gov/cancermoonshot/") %> leveraging mCODE</li>
	<li><%= link_to("OSTP","https://www.whitehouse.gov/ostp/") %> and <%= link_to("ARPA-H","https://arpa-h.gov") %> noted CodeX as an important partner in strengthening the nation’s clinical trial infrastructure</li>
	<li><%= link_to("President’s Cancer Panel","https://prescancerpanel.cancer.gov") %> noted the importance of mCODE in their recommendations for <%= link_to("NCI’s National Cancer Plan","https://nationalcancerplan.cancer.gov")%> </li>
	<li><%= link_to("CMS","https://www.cms.gov") %> using mCODE in their <%= link_to("Enhancing Oncology Model","https://www.cms.gov/priorities/innovation/innovation-models/enhancing-oncology-model")%></li>
	<li><%= link_to("FDA","https://www.fda.gov") %> championing CodeX <%= link_to("REMS Integration Use Case","https://www.fda.gov/drugs/drug-safety-and-availability/risk-evaluation-and-mitigation-strategies-rems") %></li>
	<li><%= link_to("CDC’s","https://www.cdc.gov") %> use of mCODE for <%= link_to("Central Cancer Registry Reporting IG","https://build.fhir.org/ig/HL7/fhir-central-cancer-registry-reporting-ig/index.html") %></li>
	<li><%= link_to("ONC’s","https://www.healthit.gov") %> US Core Data For Interoperability <%= link_to("(USCDI) + Cancer","https://www.healthit.gov/topic/interoperability/uscdi-plus") %> is aligned with mCODE</li>
	<li><%= link_to("ONC","https://www.healthit.gov") %> included select mCODE data elements in their USCDI+ proposed Quality Data Element List</li>
</ul>
              </ul>
            </section>
      </div><!-- end resource-section -->
   
          <div class="resource-section">
            <h3>Key References: <%= link_to("Case Studies", "/casestudies/index.html") %></h3>
            
            <section>
            <h4><%= link_to("mCODE Standard and CodeX Community","/casestudies/mcode_codex.html") %></h4>
              <ul class="resource-list">
      <li><%= link_to("Improving Cancer Data Interoperability: The Promise of the Minimal Common Oncology Data Elements (mCODE) Initiative","https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7713551/") %>. (Osterman et al., JCO Clinical Cancer Informatics Journal, Nov 2020)</li>
      <li><%= link_to("Unlocking the promise of learning from everyone with cancer","https://www.statnews.com/2023/02/01/mcode-learning-from-everyone-with-cancer/") %>. (Schnitzer., STAT, Feb 2023)</li>
       <li><%= link_to("2019 Cancer Data Summit", "https://confluence.hl7.org/display/COD/2019+Cancer+Data+Summit") %></li>
      <li><%= link_to("Getting Started with mCODE", "https://confluence.hl7.org/display/COD/mCODE") %></li>
      <li><%= link_to("Latest mCODE FHIR IG", "https://hl7.org/fhir/us/mcode/index.html") %>.</li>
        <li><%= link_to("CodeX HL7 FHIR Accelerator Community","https://confluence.hl7.org/display/COD/CodeX+Home") %></li>
        <li><%= link_to("CodeX HL7 Membership List","https://confluence.hl7.org/display/COD/CodeX+Membership")%> </li>
        <li><%= link_to("CodeX Membership Options","https://confluence.hl7.org/display/COD/CodeX+Membership+Options")%></li>
        <li><%= link_to("CodeX Governance","https://confluence.hl7.org/display/COD/Governance")%></li>
        <li><%= link_to("CodeX Use Case Development Guidelines","https://confluence.hl7.org/display/COD/Use+Case+Development+Guidelines")%></li>
        <li><%= link_to("CodeX Use Cases","https://confluence.hl7.org/display/COD/CodeX+Use+Cases")%></li>
        <li><%= link_to("CodeX Standards Design Principles","/playbook/design_principles.html") %></li>
              </ul>
        </section>
        <section>
            <h4><%= link_to("CodeX Radiation Therapy Treatment Data Use Case","/casestudies/radiation_therapy.html") %></h4>
              <ul>
      <li><%= link_to("Radiation Therapy Treatment Data Use Case CodeX Page","https://confluence.hl7.org/display/COD/Radiation+Therapy+Treatment+Data+for+Cancer") %></li>
      <li><%= link_to("Minimum Data Elements for Radiation Oncology: An American Society for Radiation Oncology Consensus Paper","https://www.practicalradonc.org/article/S1879-8500(19)30232-2/fulltext") %>(Hayman et al., 2019)</li>
      <li><%= link_to("Operational Ontology for Oncology (O3): A Professional Society-Based, Multistakeholder, Consensus-Driven Informatics Standard Supporting Clinical and Research Use of Real-World Data From Patients Treated for Cancer","https://www.practicalradonc.org/article/S1879-8500(19)30232-2/fulltext") %>(May et al. et al., 2023)</li>
              </ul>
            </section>
        <section>
          <h4><%= link_to("PACIO Project","/casestudies/pacio.html") %></h4>
          <ul class="resource-list">
            <li><%= link_to "PACIO Project Overview", "https://www.youtube.com/embed/Wx6kOg52vqM?si=EABm_jViVk2G2Bh-" %></li>
            <li><%= link_to "PACIO Project Charter", "https://confluence.hl7.org/download/attachments/90899598/2020-12-02%20PACIO%20Project%20Charter.pdf?version=2&modificationDate=1608680002591&api=v2" %></li>
            <li><%= link_to "PACIO Project Website", "http://pacioproject.org" %></li>
            <li><%= link_to "HL7 Confluence Page for the PACIO Project", "https://confluence.hl7.org/display/PC/PACIO+Project" %></li>
            <li><%= link_to "Use Cases", "https://confluence.hl7.org/display/PC/PACIO+Project+Use+Cases" %></li>
            <li><%= link_to "Dashboard", "https://confluence.hl7.org/display/PC/Dashboard" %></li>
            <li><%= link_to "Meeting Index", "https://confluence.hl7.org/display/PC/Meeting+Index" %></li>
            <li><%= link_to "YouTube Channel", "https://youtube.com/@pacioproject" %></li>
            <li>FHIR Implementation Guides:
              <ul class="resource-list">
                <li><i>Personal Functioning and Engagement:</i>
                  <ul class="resource-list">
                    <li><%= link_to "Implementation Guide", "https://build.fhir.org/ig/HL7/fhir-pacio-pfe/" %></li>
                    <li><%= link_to "GitHub Repository", "https://github.com/HL7/fhir-pacio-pfe" %></li>
                  </ul>
                </li>
                <li><i>Advance Directives Interoperability:</i>
                  <ul class="resource-list">
                    <li><%= link_to "Implementation Guide", "https://build.fhir.org/ig/HL7/fhir-pacio-adi/" %></li>
                    <li><%= link_to "GitHub Repository", "https://github.com/HL7/fhir-pacio-adi" %></li>
                  </ul>
                </li>
                <li><i>Re-assessment Timepoints:</i>
                  <ul class="resource-list">
                    <li><%= link_to "Implementation Guide", "https://build.fhir.org/ig/HL7/fhir-pacio-rt/" %></li>
                    <li><%= link_to "GitHub Repository", "https://github.com/HL7/fhir-pacio-rt" %></li>
                  </ul>
                </li>
                <li><i>Standardized Medication Profile:</i>
                  <ul class="resource-list">
                    <li><%= link_to "Implementation Guide", "https://build.fhir.org/ig/HL7/smp-ig/" %></li>
                    <li><%= link_to "GitHub Repository", "https://github.com/HL7/smp-ig" %></li>
                  </ul>
                </li>
                <li><i>Transitions of Care:</i>
                  <ul class="resource-list">
                    <li>Coming soon!</li>
                  </ul>
                </li>
              </ul>
            <li>GitHub Repositories: 
              <ul class="resource-list">
                <li><%= link_to "PACIO Project", "https://github.com/paciowg" %></li>
                <li><%= link_to "HL7", "https://github.com/hl7" %></li>
              </ul>
            </li>
            <li><%= link_to "Reference Implementation", "https://github.com/paciowg/pseudo-ehr" %></li>
            <li><%= link_to "Sample Data", "https://github.com/paciowg/sample-data" %></li>
          </ul>
        </section>
    </div>
</div>
</div>
</div>
