---
title: Resources
theme: resources
directory_index: false
---
<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mb-3">
      <h1>Resources</h1>
      <p>This page will contain links to websites, presenttions, videos, files, code, and other resources referenced in the Playbook. At this point, this page is only a tempate of what might eventually be on it.  Comments on what would be most useful are welcome.</p>

<h2><%= link_to("Playbook Tracks", "/playbook/index.html#organization") %></h2>
<h4><%= link_to("Community Building", "/playbook/community.html") %></h4>
<ul>
<li><%= link_to("CodeX HL7 FHIR Accelerator Community","https://confluence.hl7.org/display/COD/CodeX+Home") %></li>
</ul>
<h4><%= link_to("Use Cases & Planning", "/playbook/use_cases_planning.html") %></h4>
<ul>
<li></li>
</ul>
<h4><%= link_to("Standards Development", "/playbook/standards.html") %></h4>
<ul>
<li></li>
</ul>
<h4><%= link_to("Implementation & Testing", "/playbook/implementation.html") %></h4>
<ul>
<li></li>
</ul>
<h4><%= link_to("Adoption & Value", "/playbook/adoption.html") %></h4> 
<ul>
<li></li>
</ul>
<br>
<h2><%= link_to("Case Studies", "/casestudies/index.html") %></h2>
<h4><%= link_to("mCODE Standard and CodeX Community","/casestudies/mcode_codex.html") %></h4>
<ul>
<li></li>
</ul>
<h4><%= link_to("CodeX Radiation Therapy Treatment Data Use Case","/casestudies/radiation_therapy.html") %></h4>
<ul>
<li></li>
</ul>
<h4><%= link_to("PACIO Project","/casestudies/pacio.html") %></h4>
<ul>
<li></li>
</ul>

    </div>
  </div>


</div>
