---
title: Technical Standards
pagetitle: Technical Standards
theme: resources

---

<div class="container pt-5" data-bs-spy="scroll" data-bs-target="#playbook_menu" data-bs-offset="0">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/tech_standards_menu" %>  
    </div>
  
    <div id="content"  class="col-md-9">
      <h1>Technical Deep Dive into FHIR-Based Standards Development</h1>
      <h2>Aimed at clinical subject matter experts, standards developers, and systems implementers.</h2>
      <p class="lead">
        Health data standards help patients, health systems, payers, researchers and others who need to work together communicate using a common language. Health data standards can specify clearly how data are collected, stored, shared, and/or used such that every piece of data can be unambiguously understood by all entities within the health ecosystem. These standards are not the end product, and instead are an essential means empowering accurate, electronic data sharing to improve health care and access, and to reduce burden and costs.
      </p>
      <p>
       The following sections will guide clinical and technical experts through Health Level 7® (HL7®) processes to refine clinical requirements and develop implementation guides (IGs).  It is advised that throughout the process the teams undertaking these efforts utilizing existing communities and resources including chat.fhir.org, HL7 Work Groups, and FHIR Accelerators. These external groups have extensive expectance in all aspects of FHIR software development and can significantly reduce the time required to develop real-world impactful software for the specialty community.
      </p>
      <p>
        The best standards are demanded by product consumers; community-driven and developed within an open, royalty-free standards organization; often recommended or mandated by the government; well documented; demonstrated to provide value; easy to implement in systems and workflows; and widely adopted by the community.
      </p>
      <h3 id="mcode_standards_tutorial">CodeX / mCODE Standards Development Tutorial</h3>
      <p>
        The following is an excellent video by May Terry (key mCODE author) that provides a deep dive into the strategy and process employed to develop the <%= link_to("mCODE FHIR IG standard","https://confluence.hl7.org/display/COD/mCODE") %> for oncology. This strategy and approach should be applicable across health specialties. Selected points from the video are summarized in text and graphics on the rest of this page.
      </p>

      <div class="row">
        <div class="col-md-4">
          <ul class="action-list">
            <li>
              <%= link_to "Introduction and Agenda - 5 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=0&end=309".html_safe %>
            </li>
            <li>
              <%= link_to "mCODE Development History - 4 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=310&end=579".html_safe %>
            </li>
            <li>
              <%= link_to "mCODE Modeling Methodology - 7 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=580&end=972".html_safe %>
            </li>
            <li>
              <%= link_to "Define Use Case - 5 min", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=973&end=1315".html_safe %>
            </li>
            <li>
              <%= link_to "Gathering Relevant Clinical Information - 13 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=1316&end=2137".html_safe %>
            </li>
            <li>
              <%= link_to "Translate Information into FHIR IGs - 15 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=2138&end=3019".html_safe %>
            </li>
            <li>
              <%= link_to "Validate FHIR IG - 5 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=3020&end=3330".html_safe %>
            </li>
            <li>
              <%= link_to "Case Study: CardX - 5 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=3331&end=3636".html_safe %>
            </li>
            <li>
              <%= link_to "Case Study: GenomeX - 4 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=3637&end=3889".html_safe %>
            </li>
            <li>
              <%= link_to "mCODE Deeper Dive: Q&A and general discussion - 89 mins", "https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR&start=3890".html_safe %>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="embed-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r_uUseB9RzQ?si=lX3jFNgg9GaZaHoR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <h3>Key Organizations and Foundational Standards</h3>
      <p>
       <a href="https://www.hl7.org/">Health Level Seven (HL7)</a> develops, approves, and maintains medical interoperability standards across the world. While it is possible to develop interoperability standards outside HL7, in practice it is unlikely these standards will be widely adopted without HL7 approval. As a result, it is critical to follow HL7 processes and collaborate with HL7 work groups when starting or modifying any IG. This collaboration is best started early in the IG development process at or before the first draft of the IG is complete.
      </p>
      <p>
        The <a href="https://www.healthit.gov/">Office of the National Coordinator for Health Information Technology (ONC)</a> is the “principal federal entity charged with coordination of nationwide efforts to implement and use the most advanced health information technology and the electronic exchange of health information”. ONC spearheads assembling community agreement on a “standardized set of health data classes and constituent data elements for nationwide, interoperable health information exchange”, called the <a href="https://www.healthit.gov/isa/united-states-core-data-interoperability-uscdi">United States Core Data for Interoperability (USCDI)</a>. ONC also coordinates the <a href="https://uscdiplus.healthit.gov/uscdi">USCDI+<a> initiative, which supports domain or program-specific data element lists that operate as extensions to the existing USCDI. The mCODE team is coordinating closely with the USCDI+ cancer domain team.
      </p>
      <p>
        ONC has increasingly partnered with HL7, the preeminent organization for gathering communities to develop standards that enable health data interoperability. Of the many important efforts within HL7, two are foundational for the work described in this Playbook: <a href="https://hl7.org/fhir/summary.html">Fast Healthcare Interoperability Resources (FHIR)</a> and <a href="https://www.hl7.org/fhir/us/core/">US Core FHIR Implementation Guide</a>. Both are further explained below.
      </p>
      
      <h3>Standards Development Overview</h3>
      <p>
        The following graphic illustrates key steps that are necessary and/or useful in developing and publishing a quality, HL7 standard, FHIR Implementation Guide. This process is agile (thus the cycles representing steps), with iterations and interactions between each cycle.
      </p>
      
      <figure>
        <%= image_tag 'fhir-ig-process.png', :width => '100%', :class => 'py-3', :alt => 'Diagram of FHIR IG process from clinical concept to HL7 standard'%>
        <figcaption>Diagram describing the development of a FHIR Implementation Guide from Clinical Requirements to FHIR IG Development to HL7 Standardization.</figcaption>
      </figure>

      <hr>

      <h2 id="clinical_requirements">Clinical Requirements:<br>Information Needs and Data Dictionary.</h2>
      <p>
        For clinical subject matter experts, the goal is to guide the initial steps of the implementation development process to prioritize information requirements within a data dictionary needed for the use case. Thus, a well-rounded team of clinical subject matter experts is necessary; for guidelines on how to establish this team see the <%= link_to("Clinical Requirements", "playbook/standards.html#clinical_requirements") %> section in the high-level overview of standards development. 
      </p>

      <p>
        One of the first task of the clinical requirements team is to the define scope of the data dictionary. Both CodeX and FHIR design principles recommend a minimalist approach: cover the most common and important use cases, not necessarily all edge cases. This approach speeds development work, improves the odds of reaching consensus, and creates a final product that can be expanded to meet future needs. 
      </p>
      <p>
        This sub-step and subsequent steps are typically iterative.  For example, the clinical expert group may develop a first draft of the Data Dictionary. Subsequent steps often result in requests to the clinical experts for clarification or suggestions for updates to the Data Dictionary based on FHIR development, implementation, and testing.
      </p>

      <h3>Defining the Data Dictionary</h3>
      <p>A data dictionary is a conversion of the clinical information needed for the use case into logical model data elements.</p>

      <p>
        The following table shows work-in-progress from a clinical expert group identifying clinical requirements for a use case to provide an initial assessment of a potential cancer patient. The table contains necessary data elements, where the information could be extracted, references to prior work, and results of a survey of the experts regarding the “Relevance to Patients Like Mine” to help prioritize the minimal set of information needed.   
      </p>

      <p class="alert alert-warning">Image is placeholder only - will replace with accessible table</p>
            <p><%= image_tag 'clinical-info-survey.png', :width => '80%', :class => 'py-5' %></p>

      <p>
        Once information needs have been prioritized, the group should consider whether the data elements should be: </p>
       <ul>
         <li>
          Required - Data is unusable or makes no sense if not present.
         </li>
         <li>
          Optional - Data is not always relevant and not needed for data to be usable.
         </li>
         <li>
          Must Support - Software is required to support this data element
         </li>
       </ul>

      <p>
        The group can next develop the data dictionary - a "Rosetta Stone" that defines data elements mapped to the clinical information requirements 
      </p>
      <p><%= image_tag 'rosetta-stone-table.png', :width => '100%', :class => 'py-5' %></p>

      <h3>Common Challenges Related to Compiling Clinical Information Requirements and a Data Dictionary</h3>
      <ul>
        <li>
          Starting with a large set of “important” data needs/elements, rather than focusing on the needs for each prioritized use cases.
        </li>
        <li>
          Not thinking about how to maximize the utility of information across other use cases.  For example, the information needed for initial diagnosis of cancer, might also be used for clinical trials matching or conducting trials. Slight changes to the initial requirements could enable the same information to be useable across all three use cases.
        </li>
        <li>
          Asking for interpreted information rather than source data because that is established practice.  For example, asking for age, rather than collecting birth data and date/time of the encounter. 
        </li>

        <p>
          These and other potential pitfalls can be largely avoided by following the <%= link_to("Design Principles", "/playbook/design_principles.html") %> compiled based on CodeX and mCODE experience.
        </p>
      </ul>

      <h3>Clinical Review of the Data Dictionary</h3>
      <p>
       Before handing the data dictionary over to the FHIR IG development team, the clinical team should answer the following questions:
      </p>
      <ul>
        <li>Does the Data Dictionary address the goal and needs of the use cases?</li>
        <li>
          From a clinical perspective, will the new data dictionary be compatible with other, known or prospective data dictionaries with the specialty and outside of it?
        </li>
      </ul>

      <hr>

      <h2 id="fhir_ig_development">FHIR IG Development:<br>Integrating Clinical Requirements into a Specialty FHIR Implementation Guide</h2>

      <p>
        Once the clinical subject matter expert group has at least a draft of their data dictionary for the use case, work can begin on incorporating the clinical information into one or more FHIR IGs. Once the interoperability team has been assembled, both the interoperability team and the clinical requirements team will collaborate to ensure the clinical information needs are captured properly in the FHIR IG, that the FHIR IG is implementable in systems and processes, and that it is consistent with the <%= link_to("Design Principles", "/playbook/design_principles.html") %>. 
      </p>

      <h3>Framework for FHIR Implementation Guide Development</h3>
      <p>
       As is likely clear by now, use of the FHIR exchange standard is foundational to the recommendations in this Playbook, technical experts will need a deep understanding of FHIR to guide processes. Below are some helpful guides to better understanding FHIR:
      </p>

      <ul>
       <li>
          <%= link_to('Fast Healthcare Interoperability Resources (FHIR)', 'https://hl7.org/fhir/summary.html') %> is the health data sharing framework widely used now and is being mandated for certain applications through ONC.
        </li>
        <li>
          <%= link_to('US Core FHIR Implementation Guide','https://www.hl7.org/fhir/us/core/') %> (IG) encapsulates into the FHIR framework the data classes and data elements defined through US Government coordination and the United States Core Data for Interoperability (USCDI) and will evolve as Government work evolves. HL7 requires IGs designed for the US healthcare system to be based on the US Core FHIR framework unless a waiver is approved by HL7.
        </li>
        <li>FHIR Tutorials
          <ul>
            <li><a href="https://www.youtube.com/watch?v=cBpLzLs-T1Y">FHIR Basics for Post-Acute Care</a> by Jessica Skopac (MITRE) - approachable introduction to FHIR for the non-technical</li>
            <li><a href="https://hl7fundamentals.org/">HL7 Courses on FHIR</a></li>
            <li><a href="https://www.youtube.com/watch?v=YbQcJj1GqH0">Intro to FHIR</a> by James Agnew (Smile CDR)</li>
            <li><a href="https://www.youtube.com/watch?v=m2O6HiA1Z7g">FHIR for Developers - Getting Started</a> by Gino Canessa (Microsoft)</li>
          </ul>
        </li>
        
        <li>
          Standard Terminology. (refs:  <%= link_to('HIMSS','https://www.himss.org/terminology-standards') %>, <%= link_to('CMS','https://mmshub.cms.gov/sites/default/files/Codes-Code-Systems-Value-Sets.pdf') %>) A terminology code system is a managed collection of structured terminologies (concepts like procedures, diagnoses, treatments, measurements, results, etc.) with the objective that there is one globally unique code (alpha-numeric, typically) to represent each concept. Code systems, terminologies, and vocabularies are not the same things, but are highly related and often used together or for the same idea. <%= link_to('SNOMED CT','https://www.snomed.org/use-snomed-ct') %>, <%= link_to('LOINC','https://loinc.org/') %>, <%= link_to('CPT','https://www.ama-assn.org/topics/cpt-codes') %> are some examples of widely used code systems. The benefit of representing a concept with standard terminology in an IG (and elsewhere) is that the concept can be implemented (in FHIR or other standards) in health information systems and understood everywhere the concept is collected, stored, exchanged, and used.
        </li>
        <li>
        <%= link_to('FHIR Shorthand (FSH)','https://hl7.org/fhir/uv/shorthand/') %> is a domain-specific language for defining FHIR artifacts involved in creation of FHIR Implementation Guides (IG). The goal of FSH is to allow Implementation Guide (IG) creators to more directly express their intent with fewer concerns about underlying FHIR mechanics, and efficiently produce high-quality FHIR IGs.”  FSH is an HL7 standard. FSH is increasingly used around the world.


      <div class="row">
        <div class="col-md-4">
          <%= image_tag 'fsh-logo.png', :width => '100%', :alt=>"Logo for FHIR Shorthand"%>
        </div>
        <div class="col-md-8">
        </div>
      </div>

      <p>
        There are excellent tutorials on how to leverage FSH to create FHIR IG:
        <ul>
          <li><%= link_to('FSH School', 'https://fshschool.org/') %></li>
          <li><%= link_to('Mark Kramer - Learn to FSH: A friendly introduction to FHIR Shorthand | DevDays 2023 Amsterdam','https://www.youtube.com/watch?v=tmtEnjxrCDA)') %></li>
          <li><%= link_to('PDF version','https://www.devdays.com/wp-content/uploads/2021/12/DD21US_20210608_Mark_Kramer_Create_an_Implementation_Guide_with_FHIR_Shorthand_.pdf') %>)</li>
        </ul>
      </p>

        </li>
      </ul>
        
      <p>
        The mCODE FHIR IG and other work in CodeX utilize the <%= link_to("Design Principles", "/playbook/design_principles.html") %> to build on the above framework.  This has many benefits, including helping to ensure consistency with other efforts which is critical in working towards a unified lifetime shared health record where individuals’ health data is captured accurately and consistently across medical systems and specialties (see figure below). Leveraging a common framework of US Core, standard terminologies, and the Design Principles enables individual specialties to develop their IGs independently and yet as consistently as possible. 
      </p>

      <p>
        The shared health record vision could extend the CodeX/mCODE approach to help new specialties expand communities, and to develop and test standards that are interoperable across specialties, and that drive adoption and value for patient health care and research.
      </p>
      <p class="alert alert-warning">Image is placeholder only - will replace with accessible image</p>
            <p><%= image_tag 'future-health-stack.png', :width => '100%', :class => 'py-2' %></p>

      <h3>Data Model</h3>
      <p>
        The first task of the FHIR IG development group is to review the output of the clinical group’s data dictionary.  It is helpful if some members of each group have been working together, even before the first draft of the dictionary has been completed. Questions between the groups will be common and essential to taking additional steps.
      </p>

      <p>
        The next step is to start development of a conceptual model from the data dictionary and begin the process of identifying existing FHIR artifacts, IGs, profiles, and extensions that the developing IG can use. it is critical that specialty communities minimize changes and modification to existing FHIR artifacts to maintain consistency within the larger healthcare data exchange community. This helps ensure the final IG and associated software more easily accepted and adopted across all healthcare domains.       </p>
      <p>
       Below is mCODE's conceptual model and an interactive version can be found within the <%= link_to("mCode IG","https://hl7.org/fhir/us/mcode/") %>. 
      </p>
      <figure>
        <%= image_tag 'mCODE-stu3-model_Oct2023.png', :width=>"100%" %>
        <figcaption>Example conceptual modeling diagram for mCODE STU 3 (2023) </figcaption>
      </figure>
              
      <h3>Terminologies</h3>
      <p>
        As previously noted, terminologies, standard clinical code systems, are important for unambiguously defining how data within the data element are represented.  When a term cannot be found within an existing code system, it’s possible to work with the owner of the code system to add new terms, provided the justification is convincing.
      </p>

      <h3>Profiles and Extensions</h3>
      <p>
        FHIR profiles customize the standard FHIR base Resource definitions by constraining which values and elements of a resource are required and which are not for a particular context or use case. FHIR extensions add data elements and/or constraints the standard FHIR base resource definitions to create more specific, customized resource definitions for a particular context or use case.
      </p>
      <p>
        The following shows how mCODE derived profiles from the aforementioned framework of the US Core FHIR IG. The subsequent three figures illustrate how the mCODE conceptual model is represented in the FHIR IG for patient demographics, labs, and medications to match the clinical information needs as structured data. 
      </p>
      <figure>
        <%= image_tag("profile-derivations.png", :width=>"100%", :alt=>"FHIR Resource Derivations diagram") %>
        <figcaption>Diagram of FHIR Resource derivations, showing how mCODE is built on US Core and FHIR Base resources.</figcaption>
      </figure>

      <p>
        To ensure consistency with the wider interoperability community, the IG development team should first check the <a href="https://fhir.org/guides/registry/">FHIR Implementation Guide Registry</a>, <a href="https://registry.fhir.org/">FHIR Package Registry</a>, and <a href="https://hl7.org/fhir/extensions/extension-registry.html">FHIR Extension Registry</a> for existing FHIR artifacts that might be reused in the developing IG.  If an appropriate existing artifact cannot be found, new resources, profiles, or extensions may need to be created.
      </p> 
      <p>
        Before creating a new FHIR artifact, the development team should discuss the proposed artifact and its purpose with the HL7 Working Group responsible for the FHIR Resource being extended. All FHIR resources and profiles have an HL7 Working Group that is responsible for their development.  The HL7 Working Group is listed on the FHIR resource page itself, or in the case of a profile, in the footer of the profile page. Reviewing the proposed artifact with the responsible working group provides an opportunity for them to understand the purpose for the extension and offer guidance in alignment with their development strategy for the resource.
      </p>
      <p>
        When packages and other IGs are leveraged by a project, they become dependencies of that project. When depending on other FHIR packages and IGs to leverage, it is important to consider what versions to use, since in many cases, multiple versions may exist.
      </p>
      <p>
        There are many factors that should be considered when determining what version of a FHIR package or IG to use:
        <ul>
          <li>Have they been officially published and if not, when will they publish?  This will affect the development timeline.</li>
          <li>
            What level of adoption does that version have or will have in the near future?  Using the latest version may push adoption further out instead of using an older version in broader use.
          </li>
          <li>
            What regulations may apply?  Regulations can stipulate what versions can be used (e.g., US Core version requirements for product certifications).
          </li>
        </ul>
      </p>

      <h3>Planning FHIR IG Development: A Patient Demographics Example</h3>
      <p>
       There are a number of important high-level questions to consider when developing a FHIR IG. These questions can be found in the higher level <%= link_to("FHIR IG Development", "playbook/standards.html#fhir_ig_development") %> section.
      </p>
             
      <%= image_tag("cancer-patient-demo-model.png", :width=>"500") %>
      <%= image_tag("mcode-fhir-resource-tables.png", :width=>"100%") %>

      <h3>Example: Patient Demographics</h3>              
      <figure>
        <%= image_tag("mcode_patient_bundle.svg", :width=>"100%", :alt=>"Diagram of mCODE Patient Bundle") %>
        <figcaption>Diagram of an mCODE Patient Bundle entry based on external profiles</figcaption>
      </figure>

      <ul>
        <li>Relevant external profiles are added as an entry to the mCODE Patient Bundle profile.</li>
        <li>Possible because mCODE’s bundle is “open” (only CancerPatient is a required entry)</li>
        <li>Guidance for inclusion is narrative (not computable or enforceable)</li>
      </ul>

      <h3>Validating Modeling Assumptions</h3>
      <p>
        Next, create a comprehensive set of FHIR resources that capture the product of the previous steps. One approach to validating the work is to match it to representative use case personas.  The next figure illustrates how parts of a particular patient journey are mapped into data elements and FHIR. See other <%= link_to('mCODE examples, represented in the mCODE FHIR IG','https://hl7.org/fhir/us/mcode/examples.html') %>.
      </p>
       
      <h4>A particular patient journey mapped into data elements and FHIR, to validate the model.</h4>

      <p><%= image_tag("patient-journey.png") %></p>
      <p><%= image_tag("fhir-instances-mcode.png") %></p>
      <p><%= image_tag("example-bundle.png") %></p>

      <h3>Creating the FHIR Implementation Guide</h3>

      <p>Initial creation of a FHIR IG can start quite early and iterate as the model is improved. </p>



      <hr>

      <h2 id="hl7_standardization">HL7 Standardization</h2>
      <p>
        <%= link_to('Health Level Seven (HL7)','https://www.hl7.org/') %> is the preeminent organization for gathering communities to develop standards that enable health data interoperability. The US and other nations increasingly look to HL7 as the place for health standards development. >/p>
      <p>

      <h3>HL7 Standards Process</h3>
      <p>
        Agreeing on content of the FHIR IG to be standardized and then moving the IG through the HL7 process can take many months – on the order of a year from start to publication of a standard.  Time required depends on level of alignment of the IG authors, and also on how familiar project's standards process leader is with HL7 processes and people but can be many months to more than a year.  Projects should make sure to include sufficient time in the use case plan, and also start the standardization process early, before a complete draft FHIR IG is available.
      </p>
      <p>Resources that are important to review and understand:</p>
      <ul>
        <li>
          <%= link_to('HL7 Essentials','https://confluence.hl7.org/display/HE/HL7+Essentials') %>. Index to information on HL7, HL7 processes and other information that is relevant to anyone planning to work or working in HL7.
        </li>
        <li>
          <%= link_to('Understanding the Standards Process','https://confluence.hl7.org/display/HL7/Understanding+the+Standards+Process') %>.  Explains  what HL7 does, rationale for the processes, and how to maximize the benefits of using the process.
        </li>
        <li>
          <%= link_to('FHIR Implementation Guide Process Flow','https://confluence.hl7.org/display/FHIR/FHIR+Implementation+Guide+Process+Flow') %>. When creating a FHIR IG that is intended to an HL7 standard, there are a number of specific steps to complete.  A timeline based on HL7's early 2024 processes is shown here.  This is subject to change. Please check the previous link for the latest.
          <br>
          <%= image_tag 'fhir-ig-process-flow.png', :width => '100%' %>
        </li>
        <li>
          HL7's graphic - <%= link_to('HL7 Process Flow and Timeline','https://confluence.hl7.org/pages/viewpage.action?pageId=111117149') %> - is also helpful in that steps in the HL7 process are linked to details on each step.
        </li>
      </ul>
        
      <h3>Maintaining HL7 Standards</h3>
      <p>
        Once the first version of a specialty standard, the Standard for Trial Use (STU), has been completed and published, work begins on maintaining the standard over time. Any standard that is valued, implemented into systems, used widely will generate requests for updated versions.
      </p>
      <p>
        Updates to specialty standards maybe needed for a variety of reasons. The standards on which your standard depends (e.g., FHIR, US Core) may be updated, and may require or at least motivate changes to standards that depend on them. Users may ask vendors who've integrated your standard or the vendors themselves may ask for updates. Government rules and regulations may motivate changes.
      </p>
      <p>
        Because changes to your standard may be required over time, it's important to keep a core of the original standards team intact (and add to that core), with the necessary skills (e.g., clinical, FHIR, HL7) available when needed. It's important to keep a good relationship with the sponsoring HL7 Work Group. It's necessary to have a system to collect, organize, prioritize, and address requests for changes and other comments - likely the same system used for building the original standard (e.g., Jira at HL7).
      </p>
      <p>
        Be aware that the interest of the original team, and even that of the use case champions, may change as the work enters maintenance. As repeatedly emphasized in this Playbook, think about which members of the community care most about ensuring a standard is maintained in a well-governed, careful manner. For example, vendors who've implemented the standard and included the standard in products to many customers should care about how the standard is maintained and evolved.
      </p>
      <!--<p>[NOTE:  Add more?]</p>-->

      <h3>Best Practices for Smoother HL7 Standardization, Based on the CodeX/mCODE Experience</h3>
      <ul>
        <li>
          The standards process leader for the use case should have thorough knowledge of HL7 processes and standardization schedule.
        </li>
        <li>
          Build HL7 standardization into your use case plan from the start.  Allow plenty of time to go through the process.
        </li>
        <li>
          Have a good relationship with a sponsoring HL7 Work Group and its leadership. Ensure they are included in plans and progress. In many cases HL7 Work Group may have deep expertise within the community's specialty; however, even if they do not, they will know HL7 standards, HL7 processes, and work that other Work Groups are doing that may be related to your work.
        </li>
        <li>
          Collaborate with a HL7 FHIR Accelerator like CodeX. This path has the benefit of working within an organization that will be more knowledgeable of and more closely connected to HL7 people and processes.
        </li>
        <li>
          Discuss any new extension and its purpose with the HL7 Working Group that has responsibility for the FHIR Resource being extended, so that they understand the need and can provide guidance.
        </li>
        <!--<li>[NOTE:  Add more best practices].</li>-->
      </ul>
          
    </div>
  </div>
</div>
