---
pagetitle: Welcome to MITRE Health Data Interoperability Playbook
title: Home
layout: home
---
<div class="hero-box">
  <div class="container px-4 py-5 mb-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/interop-puzzle.png" class="d-block mx-lg-auto img-fluid" alt="Puzzle pieces filling together to illustrate data interoperability for healthcare" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to the MITRE Health Data Interoperability Playbook!</h1>
        <p class="lead">Sharing  -  with the medical specialty community  -  MITRE’s experience developing and deploying health data standards that are addressing real-world challenges in patient care and research.</p>
        <p class="lead">All medical specialties are invited to learn and join the mission.</p>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container py-4 border-bottom">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/homepage_menu" %>
    </div>
    <div class="col-md-9">
      <h2 class="pb-2 fw-bold">Better Data. Better Health.</h2>
      <p class="lead"> <%= link_to("The MITRE Corporation","https://www.mitre.org") %> and a growing group of collaborators have gained substantial experience developing a   standard language oncology data: the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %> FHIR Implementation Guide. MITRE launched the <%=link_to("CodeX HL7 FHIR Accelerator", "https://confluence.hl7.org/display/COD/CodeX+Home") %> to build a Community that continues to gain substantial experience around deploying and demonstrating the value of mCODE for solving challenges faced by cancer patients, providers, researchers, payers, and others stakeholders. If the successes of mCODE and CodeX are unfamiliar, please review the <%= link_to("mCODE and CodeX Case Study","/casestudies/mcode_codex.html") %>. </p>

<p class="lead">MITRE's perspective and experience in launching CodeX, mCODE, and similar initiatives are shared in this Health Data Interoperabilty Playbook ("the Playbook"). Two new specialties - cardiology and genomics - are already applying the CodeX / mCODE experience to improve data interoperability in. If all specialties could follow the same approach in a collaborative way, this would help ensure that the sum of standards created across multiple specialties enables every person to have a coherent, lifetime Standard Health Record that improves care and research for all.</p>

<p class="lead">The Playbook is organized around five tracks that form a framework for the CodeX / mCODE approach: <%= link_to("Community Building", "/playbook/community.html") %>, <%= link_to("Use Cases & Planning", "/playbook/use_cases_planning.html") %>, <%= link_to("Standards Development", "/playbook/standards.html") %>, <%= link_to("Implementation & Testing", "/playbook/implementation.html") %>, and <%= link_to("Adoption & Value", "/playbook/adoption.html") %>. These tracks have proven to facilitate efficient and impactful work. A high-level overview of the five tracks can be found in the <%= link_to("Introduction", "/playbook/index.html#organization") %>, with more details on each track via the links above and the Playbook Menu site navigation.</p>
<p class="lead">Also provided are <%= link_to("Case Studies", "/casestudies/index.html") %> that illustrate how specific projects have leveraged the tracks. Case Studies include the history of activities, outcomes of the work, and lessons learned that may be useful for new specialties. Additional details realted to the tracks and Case Studies can be found in the <%= link_to("Resources", "/resources/index.html") %> section.</p>
  
  
      

      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Introduction", "playbook/index.html", :class=>"btn btn-primary btn-lg") %></div>
      </div>
      
    </div>
  </div>
</div>

<div class="container py-4 border-bottom">
  <h2 class="pb-2">Featured Case Studies</h2>
  <p class="col-md-6">Projects that have developed and used the principles and practices covered in the Playbook.</p>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <img class="mb-5" src="images/mcode-cancer-ring.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("mCODE Standard and CodeX Community","/casestudies/mcode_codex.html") %></h3>
      <p>Learn how the CodeX Community was created and how it is deploying a standard, FHIR-based, core set of data elements that is changing oncology care and research.</p>
    </div>
      
      
    <div class="feature col">
      <img class="mb-5" src="images/radiation-theraphy-patient.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("CodeX Radiation Therapy Treatment Data Use Case","/casestudies/radiation_therapy.html") %></h3>
      <p>Read how the the American Society for Radiation Oncology and American Association of Phycisists in Medicine joined CodeX to build a community and standardize FHIR-based radiation therapy treatment summaries.</p>
    </div>

    <div class="feature col">
      <img class="mb-5 rounded" src="images/pacio.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("PACIO Project","/casestudies/pacio.html") %></h3>
      <p>Review how the PACIO project is streamlining transitions of care and care coordination between post-acute care (PAC) and other providers, patients, and key stakeholders through FHIR.</p>
    </div>            
  </div>
  <p><%= link_to("View all Case Studies", "casestudies") %></p>

</div>

