---
pagetitle: Welcome to MITRE Interoperability Playbook
title: Home
layout: home
---
<div class="hero-box">
  <div class="container px-4 py-5 mb-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/interop-puzzle.png" class="d-block mx-lg-auto img-fluid" alt="Puzzle pieces filling together to illustrate data interoperability for healthcare" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to the MITRE Interoperability Playbook!</h1>
        <p class="lead">Sharing MITRE’s experience developing and deploying health data standards to solve real-world challenges in patient care and research in oncology and beyond.</p>
        <p class="lead">All medical specialties are invited to learn from and join the mission.</p>
      </div>
    </div>
  </div>
</div>

<div class="container py-4 border-bottom">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/homepage_menu" %>
    </div>
    <div class="col-md-9">
      <h2 class="pb-2 fw-bold">Mission and Purpose</h2>
      <p class="lead">The CodeX HL7 FHIR Accelerator Community has gained substantial experience in a developing global data standard for cancer care – the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %>. CodeX has also gained experience deploying and demonstrating the value of mCODE for solving specific problems faced by cancer patients and others stakeholders. MITRE's perspective and experience are shared on this site to help other specialties leverage what’s been learned. If specialties could follow the CodeX approach in a collaborative way, this would help ensure that the sum of standards created across multiple specialties enables every person to have a coherent, lifetime Standard Health Record that improves health care and research for all.</p>

      <h3>Our Approach</h3>
      <p>The approach that has emerged from the CodeX Community can be summarized along five tracks that overlap in time, work closely together, and evolve with experience:</p>
      <p><%= image_tag '5_steps.png', :width => '100%', :class => 'py-5' %></p>
  
      <ol class="section-list">
        <li><%= link_to("Community Building", "community.html") %>, including a committed leadership that has a broad reach; a fair and sustainable governance framework; and a growing group of diverse participants and skillsets. Certain organizations and skills are typically needed only at certain points across the tracks. </li>
        <li><%= link_to("Use Cases & Planning", "use_cases_planning.html") %>, including prioritizing Use Cases (specific challenges, proposed new work and data flows); organizing and scheduling work right through to adoption and measuring value; and securing the resources (organizations, people/skills) needed to succeed. Specific Use Cases attract specific subsets of each specialty.</li>
        <li><%= link_to("Standards Development", "standards.html") %>, based on compiling clinical experts’ information requirements within Use Cases; incorporating these requirements into HL7 Fast Healthcare Interoperability Resources Implementation Guides (FHIR IGs) based on a set of <%= link_to("Design Principles", "design_principles.html") %> that drove the development of mCODE; and standardizing, updating, and maintaining the FHIR IGs within the Health Level Seven (HL7) standards organization.</li>
        <li><%= link_to("Implementation & Testing", "implementation.html") %> Implementation of the FHIR IG(s) into systems and workflows; testing these systems and workflows within the types organizations ultimately planned to host, use, and benefit from the work; and feedback from testing to update Planning and Standards work. Testing serves to demonstrate the potential value of the work and often attracts additional participants to the Community.</li>
        <li><%= link_to("Adoption & Value", "adoption.html") %> in the real world is best driven by understanding at the Planning track what factors will move the market. Factors include user demand, Government mandates, and the promise of improved care and research demonstated during testing. It’s critical to Measure such improvements in the real world, to see where changes could make solutions even better (quality, cost, time) and motivate new participants engage.</li>
      </ol>

      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Introduction", "playbook/index.html", :class=>"btn btn-primary btn-lg") %></div>
      </div>
      
    </div>
  </div>
</div>

<div class="container py-4 border-bottom">
  <h2 class="pb-2">Featured Case Studies</h2>
  <p class="col-md-6">Projects that have developed and used the principles and practices covered in the Playbook.</p>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <img class="mb-5" src="images/mcode-cancer-ring.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("mCODE Standard and CodeX Community","/casestudies/mcode_codex.html") %></h3>
      <p>Learn how the CodeX Community was created and how it is deploying a standard, FHIR-based, core set of data elements that is changing oncology care and research.</p>
    </div>
      
      
    <div class="feature col">
      <img class="mb-5" src="images/radiation-theraphy-patient.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("Radiation Therapy Treatment Data","/casestudies/radiation_therapy.html") %></h3>
      <p>Read how the the American Society for Radiation Oncology and American Association of Phycisists in Medicine joined CodeX to bult a community to standardize FHIR-based radiation therapy treatment summaries.</p>
    </div>

    <div class="feature col">
      <img class="mb-5 rounded" src="images/pacio.png" style="max-width:360px;max-height:225px">
      <h3 class="fs-2 text-body-emphasis"><%= link_to("PACIO Project","/casestudies/pacio.html") %></h3>
      <p>Review how the PACIO project is streamlining transitions of care and care coordination between post-acute care (PAC) and other providers, patients, and key stakeholders through FHIR.</p>
    </div>            
  </div>
  <p><%= link_to("View all Case Studies", "casestudies") %></p>

</div>

