---
pagetitle: Welcome to MITRE Health Data Interoperability Playbook
title: Home
layout: home
theme: home
---
<div class="hero-box">
  <div class="container px-4 py-5 mb-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/interop-puzzle.png" class="d-block mx-lg-auto img-fluid" alt="Puzzle pieces filling together to illustrate data interoperability for healthcare" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to the MITRE Health Data Interoperability Playbook!</h1>
        <p class="lead">Sharing with the medical specialties MITRE’s experience building communities that develop standard FHIR Implementation Guides and novel applications that address real-world challenges in patient care and research.</p>
        <p class="lead">All medical specialties are invited to learn and join the mission.</p>
      </div>
    </div>
  </div>
</div>

<div class="container py-4 border-bottom">
  <div class="row">
    <div class="col-md-3">
      <%= partial "partials/homepage_menu" %>
    </div>
    <div id="content" class="col-md-9">
      <h2 class="pb-2 fw-bold">Better Data. Better Health.</h2>

      <p class="lead"> In 2017, leaders within <%= link_to("The MITRE Corporation","https://www.mitre.org") %> and the <%= link_to("American Society of Clinical Oncology (ASCO)","https://www.asco.org/") %> recognized a fundamental challenge across the oncology field: the lack of a single standard for collecting and sharing data electronically. This lack of standardization led to numerous issues, including difficulties in exchanging data, data errors, delays in analyzing data and prescribing treatments, high costs for care and research, and undue burden across the entire health ecosystem.</p>

      <p class="lead">To address these issues, MITRE and ASCO partnered with a diverse group of leading experts to develop the <%= link_to("minimal Common Oncology Data Elements (mCODE)","https://confluence.hl7.org/display/COD/mCODE") %>: a FHIR-based standard for oncology data capture and sharing. MITRE also worked with Health Level Seven (HL7) to launch the <%=link_to("CodeX HL7 FHIR Accelerator", "https://confluence.hl7.org/display/COD/CodeX+Home") %>: a still-growing community of providers, patient advocates, researchers, payers, vendors, regulators, and other stakeholders who are driving adoption of mCODE through new standards-based solutions to a range of real-world challenges.</p>
      
      <p class="lead">This Health Data Interoperability Playbook ("the Playbook") consolidates MITRE's experience leading mCODE, CodeX, and similar projects to create a roadmap for specialty <%= link_to("champions", "/playbook/community.html#champions") %> and their teams to drive new FHIR-based data standards that improve health care and research.</p>
      
      <p>The Playbook is organized around five tracks that form a framework for the CodeX / mCODE approach: <%= link_to("Community Building", "/playbook/community.html") %>, <%= link_to("Use Cases & Planning", "/playbook/use_cases_planning.html") %>, <%= link_to("Standards Development", "/playbook/standards.html") %>, <%= link_to("Implementation & Testing", "/playbook/implementation.html") %>, and <%= link_to("Adoption & Value", "/playbook/adoption.html") %>. A high-level overview of the five tracks can be found in the <%= link_to("Introduction", "/playbook/index.html#organization") %>, with more details on each track via the links above and the Playbook Menu site navigation.</p>
      
      <p>Questions that a new specialty should ask themselves before embarking on the above tracks are covered on the <%= link_to("Before Starting", "/playbook/getting_started.html") %> page. <%= link_to("Design Principles", "/playbook/design_principles.html") %> are a foundation for efficient development of quality standards, and help ensure alignment between different standards development initiatives within and across specialties.</p>
            
      <p>A downloadable <%= link_to("Playbook Checklist", "/Files/Playbook-Checklist.docx") %> will help a new specialty embark on new standards initiatives across Playbook tracks. <%= link_to("Case Studies", "/casestudies/index.html") %> show how specific projects have leveraged the tracks. Additional details related to the tracks and Case Studies can be found in the <%= link_to("Resources", "/resources/index.html") %> section.</p>

      <div class="playbook-bottom-navigation">
        <div class="previous inactive"></div>
        <div class="next"><%= link_to("Next: Introduction", "playbook/index.html", :class=>"btn btn-primary btn-lg") %></div>
      </div>

    </div>
  </div>
</div>

<div class="container py-4">
  <h2 class="pb-2">Featured Case Studies</h2>
  <p class="col-md-8">Projects that have developed and used the principles and practices covered in the Playbook.</p>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  
    <%= partial "partials/case_study_feature",
    :locals => {
      :image => "cancer-survivor.png",
      :image_alt => "Woman cancer survivor with knit cap",
      :link_text => "mCODE Standard and CodeX Community",
      :url => "mcode_codex.html",
      :text => "Learn how the CodeX Community was created and how it is deploying a standard, FHIR-based, core set of data elements that is changing oncology care and research."
    } %>
      
    <%= partial "partials/case_study_feature",
    :locals => {
      :image => "radiation-theraphy-patient.png",
      :image_alt => "Nurse attending to patient receiving therapy",
      :link_text => "CodeX Radiation Therapy Treatment Data Use Case",
      :url => "radiation_therapy.html",
      :text => "Read how the American Society for Radiation Oncology and American Association of Physicists in Medicine joined CodeX to build a community and standardize FHIR-based radiation therapy treatment summaries."
    } %>
          
    <%= partial "partials/case_study_feature",
    :locals => {
      :image => "woman-walker-round.png",
      :image_alt => "Woman using a walker",
      :link_text => "PACIO Project",
      :url => "pacio.html",
      :text => "Review how the PACIO project is streamlining transitions of care and care coordination between post-acute care (PAC) and other providers, patients, and key stakeholders through FHIR."
    } %>

  </div>
  <p><%= link_to("View all Case Studies", "casestudies") %></p>

</div>

